[2019-01-19 00:31] erm opened #1 "Handle AWS WebSocket connection and state"
The AWS WebSocket connect event contains the information required to build the connection scope, however the function response needs to be returned immediately in order to begin using connections.

Unless another solution presents itself, I'm thinking the initial connection event information will need to be persisted through DynamoDB, but there are still some challenges with how to allow the appli

[2019-01-20 01:30] erm opened #2 "Support additional FaaS platforms"
After playing around with Azure Functions in an example [here](https://github.com/erm/azure-functions-python-asgi-example), the behaviour of the ASGI adapters is generic enough that it could be rolled into this project somehow.

A few things to note:

- Python / Linux support is currently in preview
- Only supports Python 3.6

[2019-01-20 04:07] erm opened #3 "Present ASGI adapter as a middleware"

[2019-01-20 06:36] #3 closed

[2019-01-20 07:44] tomchristie commented on #1
I took a bit of a look around this but it wasn’t at all obvious. I’d be up for helping figure out an approach to it when you come back to it. Perhaps a good signal here to start out by focusing on getting the HTTP side nicely mature first?

[2019-01-20 07:46] tomchristie commented on #2
What FaaS platforms would be on the radar here?

[2019-01-20 08:39] erm commented on #2
Good question...

I'm still digging into non-AWS platforms generally, but any platform that will fit well into the current adapter scheme without requiring platform-specific requirements/integrations (at least at this point).

I took a look into Google's offerings and based on a cursory glance of the docs for Google App Engine's WSGI service library I am not sure if it would feasible to include, b

[2019-01-21 07:02] erm opened #5 "Deployment & configuration instructions"
Will lean on the official docs of the platforms used for the most part, but some step-by-step instructions on setting up on AWS Lambda or Azure with ASGI would be worth including.

[2019-01-21 11:39] tomchristie commented on #1
Related: https://www.jeremydaly.com/reuse-database-connections-aws-lambda/

[2019-01-21 13:19] erm opened #7 "Improve tests and data mocking for AWS Lambda handler"
AWS Lambda handler needs more tests, though it seems the current event mocking can probably be used still with different cases.

[2019-01-21 13:55] erm commented on #7
https://github.com/awslabs/aws-sam-cli looks like it could be used here

[2019-01-21 14:07] erm opened #8 "AWS Lambda specific CLI tooling/boilerplate"
Somewhat related to https://github.com/erm/mangum/issues/5, but rather than a step-by-step guide it may make sense to include CLI/configuration tools/boilerplate specifically for AWS Lambda.

Going to try and figure something out for this while I investigate https://github.com/erm/mangum/issues/7 and give AWS a bit more focus now.

[2019-01-26 04:51] erm commented on #8
Closed in https://github.com/erm/mangum/pull/9. Still probably want to re-factor this a bit over time but what is there now is fine.

[2019-01-26 04:51] #8 closed

[2019-01-26 06:33] erm opened #10 "AWS CLI/application generator improvements"
The generation and deployment commands work generally, but there is a _lot_ that could be done to improve them and make the process easier/safer/more-correct.

[2019-01-26 06:55] erm commented on #5
Closed by https://github.com/erm/mangum/pull/11 https://github.com/erm/mangum/pull/6

[2019-01-26 06:55] #5 closed

[2019-01-27 05:26] erm opened #13 "Leave the "experimental/unstable" stage"
Currently I have "experimental" and "unstable" littered throughout the README and documentation, mainly because I want to more thoroughly test the adapters as well as settle on a project structure/API.

I think at this point the project structure is generally going to remain the same, I wanted to keep it flexible (ie: not constraint the tooling to adapters) so I introduced `mangum.platforms.*` to

[2019-01-27 05:31] erm commented on #10
Need to include the entire app folder in the build process still - and support building against existing applications. Currently only the generated `app.py` will be copied to the build folder.

[2019-01-27 10:50] erm commented on #13
Closing due to https://github.com/erm/mangum/pull/14, I'm satisfied enough with things at this point that I think the fundamental behaviour of the ASGI adapters aren't going to change and there won't be any major API breakages going forward.

[2019-01-27 10:50] #13 closed

[2019-01-27 10:51] erm commented on #10
Closing due to https://github.com/erm/mangum/pull/14. Instead of taking on too much in the tooling by generating entire applications, this will only deal with configuration and provide a blueprint and convenience tools rather than taking on too much more of the deployment process (at least for now).

[2019-01-27 10:51] #10 closed

[2019-01-27 10:52] erm commented on #7
Closing due to https://github.com/erm/mangum/pull/14. I'll probably want to address testing more generally in a different issue. The test cases that are there now seem to be okay.

[2019-01-27 10:52] #7 closed

[2019-01-27 10:58] erm opened #15 "Example project for AWS"
Need to create a full example project to link to for AWS at some point, potentially including how to use with other services and more advanced configurations.

[2019-01-27 14:48] unixorn commented on #2
How about [OpenFaaS](https://github.com/openfaas/faas)? It can run in kubernetes, so it's nicely generic option people can use anywhere they have a cluster.

[2019-01-28 00:32] erm opened #16 "Lifespan support"
Introduce lifespan support in the project. https://asgi.readthedocs.io/en/latest/specs/lifespan.html

[2019-01-28 00:38] erm commented on #2
@unixorn that definitely looks interesting! PRs are welcome, but I'm happy to dig into it myself when I have time - would you be able to open an issue to for its inclusion specifically with a brief description?

[2019-01-28 00:43] erm opened #17 "Include in third-party docs"
Since this is for use with any ASGI application/framework it would be a good idea to include it in projects that document third-party ASGI packages.

[2019-01-28 00:58] erm opened #18 "Generic ServerlessMiddleware"
Currently there is only the `AWSLambdaMiddleware` used with the `run_asgi` method, but we'll want this for other platforms. Also considering dropping the `run_asgi` as a standalone method and instead implementing the run functionality in the middlewares.

[2019-01-28 07:48] erm opened #20 "Connection scope definition"
There are a few things missing from each adapter in regards to a complete `scope`, ie: optional values like `server` and `client` in the Azure Functions adapter. Additionally, the `server` and `client` being parsed in the AWS Lambda adapter should be double-checked to ensure there isn't some API Gateway behaviour that is being misunderstood.

[2019-01-28 09:13] erm opened #21 "Correctin naming/descriptions, Middleware -> Adapter"
These are adapters, not middleware, because it is not ASGI-in/ASGI-out. Will need to rename things to use `Adapter`.

[2019-01-28 09:19] erm commented on #21
Fixed in https://github.com/erm/mangum/commit/159f59ab1937949e5f82abe7913511eb8b97c759

[2019-01-28 09:19] #21 closed

[2019-01-28 10:29] erm opened #22 "FastAPI support"
Using the following application code:

[code]

I ran into this error after deploying to AWS:

[code]

[2019-01-28 10:30] erm opened #23 "Responder support"
Responder currently writes to the filesystem by default which is problematic for at least AWS Lambda and raising read-only filesystem errors.

Related issue https://github.com/kennethreitz/responder/issues/282

[2019-01-28 13:15] erm commented on #15
Included here https://github.com/erm/asgi-examples/tree/master/mangum

[2019-01-28 13:15] #15 closed

[2019-01-28 13:48] jordaneremieff opened #24 "Trio support"
So I admittedly don't know how much may be involved here, but my initial thoughts are that including support for ASGI applications using Trio wouldn't require too much to implement as an adapter here.

[2019-01-28 14:18] erm commented on #22
Exact package versions that caused this:

[code]

[2019-01-28 14:49] tomchristie commented on #24
So... The only place you're using `asyncio` is for a single Queue instance. For trio, you'd need to swap that out with a trio Queue implementation instead.

The ASGI interface itself is agnostic - it's an `async`/`await` interface, rather than specifically being an `asyncio` interface.

(Broader context, Trio is obviously a *huge* step forwards, but I'm *personally* lukewarm on the ecosystem split

[2019-01-28 14:56] pgjones opened #25 "Good to recommend to others?"
This looks great, can I recommend it in the Quart docs?

[2019-01-28 15:13] erm commented on #24
@tomchristie Hm, interesting point about the broader context. I haven't really delved into Trio too deeply, but I've only heard good things about it and have seen various efforts to use it with ASGI.

That said, I don't have any particular interest in using it myself. I'm going to leave this as a "maybe" and won't likely do anything further, but if there are enough people that would find an ASGI T

[2019-01-28 15:19] erm commented on #25
Thanks! And yes, that would be great. :)

I've actually begun using Quart specifically (alongside Starlette) in my tests as well.

[2019-01-28 15:34] unixorn opened #26 "Add support for OpenFaas"
Add support for [openfaas](https://github.com/openfaas/faas) so that we can use this anywhere we an run Kubernetes.

[2019-01-28 15:40] erm opened #27 "Remove the AWS CLI"
So initially this project started out as only an AWS solution, but since then has shifted towards general FaaS support. The AWS CLI was something that I really wanted to include to simplify an otherwise tedious deployment process, but I'm beginning to think including it here is more trouble than it's worth - I'd rather focus on the adapters.

I think I will ultimately remove it.

[2019-01-28 15:49] tomchristie commented on #24
Codewise I think it just needs a trivial change to use `trio.Event()` in `mangum/asgi/protocol.py` (Tho I'm not sure how best you'd expose that as a switch.) Anyways, leaving this here, for someone else to make progress on if it ends up being a requirement for someone, somewhere

[2019-01-28 16:07] erm commented on #27
Closed in https://github.com/erm/mangum/pull/28

[2019-01-28 16:07] #27 closed

[2019-01-29 06:54] erm commented on #25
Closing, related https://github.com/erm/mangum/issues/17

[2019-01-29 06:54] #25 closed

[2019-01-29 06:56] erm commented on #2
Closing this off since the conclusion is to include additional FaaS platforms, a separate issue should be opened for the individual platforms.

[2019-01-29 06:56] #2 closed

[2019-01-29 08:03] erm commented on #20
I've started improving the connection scope handling for AWS [here](https://github.com/erm/mangum/commit/5c61e180b6dbbef499b6d35c72bec518c08c4657), but not sure at this moment where to get the remote port just yet.

[2019-01-29 09:59] pgjones commented on #25
Done, https://gitlab.com/pgjones/quart/commit/e71989b1a06622fad243ef4a4341a79ff5ba2079

[2019-01-29 14:13] erm commented on #22
This appears to have just been a packaging issue, running the `pip install -r requirements.txt -t ./build` command would include the `dataclasses` package, but I haven't seen it when installing outside of this case and was able to get FastAPI working with Mangum.

cc @tiangolo

[2019-01-29 14:13] #22 closed

[2019-01-30 01:36] erm opened #29 "Reconsidering multiple platform support"
So initially I set out to implement an adapter for AWS Lambda / API Gateway, but then I was curious and started experimenting with Azure Functions. This led to shifting focus to multiple platform support, but after getting to this point, I'm wondering if this should be reconsidered because:

- Nearly all cases where I've seen interest in serverless ASGI has been for AWS Lambda specifically.

- It

[2019-01-30 09:04] erm commented on #29
Went ahead and did it. https://github.com/erm/mangum/pull/30

The Azure Functions are now in https://github.com/erm/bonnette and probably won't get too much attention unless some interest presents itself there.

Going to update third-party docs now.

[2019-01-30 09:04] #29 closed

[2019-01-30 09:05] erm commented on #26
After considering it again, this project will now only support a single platform (AWS Lambda & API Gateway)

Closed by https://github.com/erm/mangum/issues/29

[2019-01-30 09:05] #26 closed

[2019-01-30 09:12] tomchristie commented on #29
Probably a good call. Stay focused. 👍

[2019-01-30 18:16] unixorn commented on #26
Fair enough.

[2019-02-02 01:36] erm opened #31 "More code examples"
So the examples so far have been relatively basic "Hello World" applications, it would be good to test this against some more complex examples in order to shake out any further fixes/additions to the implementation.

[2019-02-03 04:22] erm opened #32 "AWS tools & utilities, CLI or otherwise"
Not sure the scope of what I want to include here, but I definitely think there is room for some CLI tools and utilities now that the project is focused solely on AWS.

To start I'm thinking something around static file support would be a good start. Beyond that, a deployment tool that doesn't rely on the AWS CLI.

[2019-02-03 04:29] erm opened #33 "Drop 3.6 support"
I don't think this project should need to support 3.6 since AWS Lambda supports 3.7. I would have started from this perspective, but initially I included the Azure Functions adapter which only supported 3.6.

[2019-03-13 01:25] erm opened #34 "ASGI3"
Not sure what all will be needed here yet, but I'll probably look to Uvicorn for inspiration when the new spec version is finalised.

Refs:

https://github.com/django/asgiref/issues/78
https://github.com/encode/starlette/pull/435
https://github.com/encode/uvicorn/pull/325
https://github.com/django/asgiref/pull/80

[2019-03-19 01:10] erm opened #35 "Storage backend"
It would be useful to have a configurable storage backend for serving staticfiles and assets. I began implementing something using S3 to use specifically here, but I'm not certain if it might be better as a generic ASGI storage backend in a separate project.

I'll probably do a first pass for S3/AWS/Mangum first, then potentially pull it out.

[2019-03-22 21:51] MihaZelnik opened #37 "Zappa + Starlette"
Anyone tried using Zappa to deploy Starlette with Mangum?

I can't figure it out how to do it, or it is even possible to do it

[2019-03-24 02:34] erm commented on #37
@MihaZelnik it is currently not possible since Zappa does not support ASGI applications. There is an open issue on the Zappa tracker [here](https://github.com/Miserlou/Zappa/issues/649) that discusses WebSockets/Channels. I am unaware of any plans to implement ASGI support in Zappa, but I think it would be great because I've had good experiences with the configuration/deployment tooling it provide

[2019-03-27 18:21] tiangolo commented on #22
Thanks for your work on this @erm ! Sorry for the delay, I had this issue/email in the backlog as I wanted it as a reminder to document mangum inside of FastAPI :smile:

I haven't been able to yet, but hopefully I'll do it soon.

[2019-03-28 03:30] erm commented on #22
@tiangolo that's great to hear, thanks!

I haven't had a lot of time lately to do much application testing, so it will be really helpful to see some example usage that I can experiment with to refine the adapter implementation and hopefully work out some generic configuration examples to document here as well.

[2019-04-22 00:13] #34 closed

[2019-04-26 08:59] 1oglop1 opened #38 "Use with serverlessframework"
Hi, is there any chance to use this easily as https://github.com/logandk/serverless-wsgi?
Thank you

[2019-04-27 12:35] erm commented on #38
@1oglop1 possibly. I have been keen to get some configuration/deploy tools in here, but I haven't dedicated a lot of time to pursuing anything beyond the adapter classes at this point. I am definitely open to an approach similar to this.

[2019-05-07 11:27] chgangaraju opened #39 "Deploying FastAPI as Lambda Function"
from fastapi import FastAPI
    from mangum import Mangum

    app = FastAPI()

    @app.get("/")
    def hello_world():
        return {"hello": "world"}

    handler = Mangum(app)

ERROR:

    [ERROR] TypeError: __call__() takes 2 positional arguments but 4 were given
    Traceback (most recent call last):
      File "/var/task/mangum/__init__.py", line 123, in __call__
        raise exc
      F

[2019-05-07 13:13] chgangaraju commented on #39
#22

[2019-05-08 07:44] erm commented on #39
@chgangaraju the previous `AWSLambdaAdapter` class was renamed `Mangum`, and the default spec version is ASGI 3. In order to use FastAPI, you will need to set the `spec_version` to 2:

[code]

[2019-05-11 15:30] noblerabbit opened #40 "How to use ASGI adapter - mangum?"
I need to move from Flask to Quart to handle async. Quart has mangum as recommended ASGI adapter.

I am trying to run a test to get some idea what this is all about but I when run the example, the script get executed and there is no return (the same if I run example from quart https://pgjones.gitlab.io/quart/deployment.html)

app_test.py:

[code]

[code]
I'm running Python 3.7.3 (default, Mar 27 2

[2019-05-11 15:38] noblerabbit commented on #40
OK. I was too quick with the issue. I have to run it through ASGI webserver.
ie
`hypercorn app_test:app`

[2019-05-11 15:38] #40 closed

[2019-05-12 20:15] delijati commented on #37
I added it in my Zappa branch https://github.com/delijati/Zappa. Here i played a bit around with it https://github.com/delijati/benchmark :)

[2019-05-21 13:29] chgangaraju commented on #33
It would be really helpful if it has 3.6 support unless it's really difficult to maintain. It matters when we are working on different projects and need to use a different python version for one project because of a specific library.

[2019-05-22 20:59] erm commented on #33
@chgangaraju I don't think it should be too difficult to maintain and may be open to supporting 3.6 again, what are some example cases?

[2019-06-17 02:02] erm commented on #33
I am going to close this again for now, but willing to reconsider if there are examples to support 3.6 again - it is not apparent to me where this would be useful.

[2019-06-17 02:02] #33 closed

[2019-06-21 03:08] #23 closed

[2019-07-16 12:16] mojimi commented on #31
Specifically include example with specific ASGI frameworks! Quart/Sanic/Starlette comes to my mind.

[2019-07-18 00:24] erm commented on #31
@mojimi you can find some minimal examples for a few frameworks [here](https://github.com/erm/asgi-examples/tree/master/mangum) - though they haven't been updated for any ASGI3 changes (may need to specify a `spec_version`).

Not sure when I may get around to any further examples, but it will likely coincide with any developments around deployment tooling.

[2019-07-20 11:54] #16 closed

[2019-07-21 01:49] erm commented on #38
I am going to try and provide some custom tools, so any serverless plugin would be better off in a separate project - may be able to assist with anyone else's efforts there but won't be including it here.

[2019-07-21 01:49] #38 closed

[2019-07-21 01:49] #37 closed

[2019-07-21 02:13] #32 closed

[2019-07-21 02:15] erm opened #43 "Add tests for CLI"

[2019-07-31 05:31] erm opened #44 "Allow setting environment vars in CLI"

[2019-08-01 01:22] #44 closed

[2019-08-01 01:22] #43 closed

[2019-08-01 01:23] erm commented on #35
Created a separate package here: https://github.com/erm/asgi-s3

[2019-08-01 01:23] #35 closed

[2019-08-07 00:33] erm opened #47 "Split CLI out into separate package"
Since the CLI is experimental and doesn't need to be included in deployments it probably would make sense to create a different project for configuring deployments specifically.

[2019-08-07 05:34] erm commented on #47
Completed in https://github.com/erm/mangum/pull/46
Project: https://github.com/erm/mangum-cli/

[2019-08-07 05:34] #47 closed

[2019-08-07 05:35] erm commented on #1
Basic support included, probably some issues and tweaking ahead but gonna go ahead and close this now.

[2019-08-07 05:35] #1 closed

[2019-08-07 07:31] erm opened #48 "Documentation"

[2019-08-07 07:48] #17 closed

[2019-08-21 23:12] erm opened #49 "Improve error handling in websockets"

[2019-08-21 23:30] erm opened #50 "Refactor protocols to make WebSocket dependency optional"

[2019-08-22 00:00] erm commented on #50
https://github.com/erm/mangum/pull/51

[2019-08-22 00:00] #50 closed

[2019-10-06 04:10] erm opened #52 "Decouple WebSocket implementation from DynamoDB"
The websockets implementation needs better test coverage, error handling, documentation, etc.

[2019-10-06 17:32] anil-grexit commented on #39
@chgangaraju Can you share your serverless.yml function setup? I want to know how you have organized the routing for FastAPI to handle and how does your project structure look like. I'm having a hard time figuring out doing it.

[2019-10-07 06:10] chgangaraju commented on #39
serverless.yml

    functions:
      app:
        handler: app.main.handler
        events:
          - http: ANY /
          - http:
              path: /{proxy+}
              method: ANY

app/main.py

    from fastapi import FastAPI
    from mangum import Mangum

    app = FastAPI()

    @app.get("/")
    def hello_world():
        return {"hello": "world"}

    handler = Mangum(app, spec_versi

[2019-10-07 07:25] erm commented on #39
@chgangaraju what are the reasons you are using Python 3.6/Mangum 0.6.6? You brought up 3.6 support in a previous issue https://github.com/erm/mangum/issues/33, and I'm still open to a potential refactor to support 3.6 again if there are specific reasons to do so.

Also, FastAPI currently supports for ASGI 3, so I dropped `spec_version` at some point as well.

[2019-10-07 10:25] chgangaraju commented on #39
@erm  We have multiple projects and we are using Python 3.6 and flask, connexion in almost all projects. We experimented to use FastAPI& Mangum for one lambda.  Even though it's easy to switch python versions with tools like `pyenv`. it's a little bit difficult to change CI/CD pipelines for a specific project. We will slowly switch to 3.7 soon.

[2019-10-14 14:21] chgangaraju commented on #39
@anil-grexit, Refer to this working [example](https://github.com/chgangaraju/fastapi-mangum-example)

@erm, It's very hard to find a working example with the latest versions. I tried [this example](https://github.com/erm/mangum-examples), but getting the following error.

    [ERROR] TypeError: __call__() missing 2 required positional arguments: 'receive' and 'send'
    Traceback (most recent call

[2019-10-15 11:22] anil-grexit opened #53 "Issue with Serverless offline plugin"
[code]

I'm using the above code when specified in `main.py` and it's configured with a catch-all route in `serverless.yml`. I want to test it locally using the `serverless-offline` plugin but when I run the offline plugin using `sls offline`, I don't get any response in the browser for any routes. It just says, `localhost didn’t send any data`.

What could I be doing wrong? The offline plugin is

[2019-10-15 12:17] erm commented on #39
@chgangaraju The examples in that repo may be out-of-date (will update or archive it at some point), but I don't see anything obviously wrong with the application code that would produce that error with the latest versions.

The main difficulty around creating examples has been that there are several different configuration/deployment methods which I am now treating as a separate concern from the

[2019-10-15 12:41] erm commented on #39
@chgangaraju I've tested against your example repo. If the requirements are changed to use the latest versions of FastAPI and Mangum with Python 3.7 there are no issues. I think there may be problems when using versions of FastAPI that do not support ASGI 3 that are causing the error above, but I was unable to reproduce your specific error.

[2019-10-15 12:55] erm commented on #53
@anil-grexit can you post your `serverless.yml`?

I tried to re-create your issue using the example here: https://github.com/chgangaraju/fastapi-mangum-example (**NOTE**: I changed the Mangum and FastAPI requirements to be the latest versions and Python 3.7), however I did not have any issues using the `serverless-offline` plugin with the following `serverless.yml`:

[code]

[2019-10-16 07:07] anil-grexit commented on #53
Hi @erm

I found the issue in my setup. Basically, it was a networking issue. I'm working with serverless inside a docker image and by default, `serverless-offline` or `uvicorn` bind to localhost. I only needed to bind it to `0.0.0.0` and voila! It started working. Thank you so much for your help. Really appreciate it.

[2019-10-16 07:07] #53 closed

[2019-10-23 10:43] #49 closed

[2019-10-26 05:18] koxudaxi opened #60 "Handle Exception on mangum"
Thank you for creating great library!!

I found the not good behavior when calling `exception_handler` with `Exception` on `FastAPI`

I defined `exception_hanlder` for `Exception` which returns `JSONResponse`.
[code]

I want to get a response on which status code is 500 with content.
FastAPI(Starrett) raises `Exception`.
Mangum doesn't handle the exception and lambda was die.  I can't get an excep

[2019-10-26 09:50] erm commented on #60
@koxudaxi thanks for bringing this to my attention. I've started working on a solution that I should be able to PR tonight or tomorrow.

[2019-10-27 05:59] erm commented on #60
The changes are now merged into the master branch. There are a few other things I want to refactor in the adapter then I'll push a release.

[2019-10-27 05:59] #60 closed

[2019-10-27 12:33] koxudaxi commented on #60
I have watched the master branch!!
Thank you very much.

[2019-10-27 12:48] erm opened #62 "Automatically detect if lifespan is supported"

[2019-10-27 12:52] erm opened #63 "Refactor the "handle_*" methods"
The `handle_ws` and `handle_http` methods are confusing. These should be changed in a way that is easier to understand.

[2019-10-27 14:45] koxudaxi opened #64 "Retrieve lambda event object on FastAPI"
I use mangum with FastAPI.
Also, I often create an app which authenticates the request by `Cognito`

I want to obtain a few `Cognito` information(eg: `cognitoIdentityPoolId `) from lambda `event` because I must use the information for business logic on API.
(https://docs.aws.amazon.com/lambda/latest/dg/with-on-demand-https.html)

Unfortunately, Mangum doesn't pass the raw lambda event object to a

[2019-10-27 21:04] erm commented on #64
I'm working on a PR that will include the `event` and `context` objects in the ASGI scope. I'll reference this issue when I push the changes.

[2019-10-27 22:55] #63 closed

[2019-10-27 22:56] erm commented on #64
@koxudaxi I've merged the changes into master. Here is an example of how you can access the event and context using FastAPI:

[code]

[2019-10-27 22:56] #64 closed

[2019-10-28 01:07] koxudaxi commented on #64
Thank you very much!!

[2019-11-18 15:35] SKalt opened #67 "Pass mypy checks"
As of yet, ./scripts/test doesn't run mypy.  A quick check shows 18 type errors.

[2019-11-18 18:48] SKalt opened #69 "Error when no headers in request to API gateway"
I've got a normal setup, based closely on the example in magnum-cli and terraform docs on AWS lambda.  Using the AWS api gateway test button throws this error:

[code]

Adding `Accept:application/json` to the textbox for headers resolves the issue, and I get my expected `{ greeting: "hello" }` JSON back.

[2019-11-21 01:36] erm opened #71 "Test against 3.8"
https://aws.amazon.com/about-aws/whats-new/2019/11/aws-lambda-now-supports-python-3-8/

[2019-11-22 08:05] erm commented on #71
We test against [Quart](https://github.com/pgjones/quart), but it has a dependency [aiofiles](https://github.com/Tinche/aiofiles), however this library does not support Python 3.8 as of yet.

[2019-11-22 21:07] #69 closed

[2019-11-24 20:34] #71 closed

[2019-11-30 14:29] remorses opened #75 "Python 3.6 support"

[2019-12-02 20:39] #75 closed

[2019-12-16 16:13] levinotik opened #77 "How to connect with Django app?"
Hi there,

I'm trying to get a better idea of what using Mangum usage looks like with a Django application. I've looked at the example, but don't really understand how that translates to pointing to a Django application.

More specifically, what does `app` in

[code]

refer to when pointing to a full Django application?

[2019-12-18 21:07] erm commented on #77
This is something I’d like to document here, but I haven’t had a chance to dig into the latest developments for ASGI support in Django yet.  In regards to Channels, it does [not](https://github.com/django/channels/issues/1319) currently support ASGI 3, so it will not work with Mangum - though I am open to supporting ASGI 2 here again.

[2019-12-20 01:05] jaehyeon-kim opened #78 "Handle non root base path of API Gateway custom domain"
Hi

It fails to map a path correctly if an API is deployed to non root base path (eg /api) of API Gateway custom domain. serverless-wsgi handles it with an environment variable named API_GATEWAY_BASE_PATH - https://github.com/logandk/serverless-wsgi#custom-domain-names. (source - https://github.com/logandk/serverless-wsgi/blob/master/serverless_wsgi.py#L112).

It'll be helpful if the class is upda

[2019-12-20 02:24] erm commented on #78
@jaehyeon-kim thanks for raising this. Would you like to put in PR with your proposed changed? Otherwise I can take a look later.

[2019-12-20 04:40] jaehyeon-kim commented on #78
Hi @erm

Please find this PR - https://github.com/erm/mangum/pull/79.

Cheers,
Jaehyeon

[2019-12-20 07:34] koxudaxi opened #80 "[Feature Request] Support multiValueQueryStringParameters"
API Gateway gives `multiValueQueryStringParameters` to lambda when QueryParameters are multiple parameters.

However, mangum always passes `queryStringParameters` to `query_string` in ASGI's scope.

I can create a PR if you want it to support multiple query parameters.

## Related Links
https://aws.amazon.com/blogs/compute/support-for-multi-value-parameters-in-amazon-api-gateway/

[2019-12-20 10:31] erm commented on #80
@koxudaxi yep, I think we ought to support this here. Please go ahead and open a PR, thanks!

[2019-12-22 09:38] erm commented on #80
Resolved by https://github.com/erm/mangum/pull/81

[2019-12-29 00:25] erm commented on #80
Reopening this because I'm noticing that https://github.com/erm/mangum/pull/81 actually replaces `queryStringParameters`, but we should be handling (and testing) both. I'll put forward a PR myself when I have a chance, but happy to accept any additional PRs in the meantime.

[2019-12-29 00:26] #20 closed

[2019-12-29 00:30] erm commented on #48
There are a few open issues that I think ought to be rolled into documentation generally: https://github.com/erm/mangum/issues/31 https://github.com/erm/mangum/issues/77.

Contributions in this regard are very much appreciated. Feel free to use this issue to post links to examples, discuss deployments, ask questions, submit doc PRs against, etc.

[2019-12-29 00:31] erm commented on #31
Closing in favour of https://github.com/erm/mangum/issues/48

[2019-12-29 00:31] #31 closed

[2019-12-29 00:33] erm commented on #77
Closing in favour of https://github.com/erm/mangum/issues/48

[2019-12-29 00:33] #77 closed

[2019-12-29 10:42] koxudaxi commented on #80
@erm

I think we don't need to handle `queryStringParameters`
I tested a lambda app with a single query parameter and multi-value query parameters.
API Gateway always gives `Event` with `queryStringParameters` and `multiValueQueryStringParameters`.
If I'm misunderstood then I'm sorry.
But, we may need to add a test for a single query parameter.

[2019-12-29 11:18] koxudaxi commented on #80
@erm
I put the event results.
 ![screenshot25](https://user-images.githubusercontent.com/630670/71556162-1da4c080-2a78-11ea-9313-1f14b31f06f2.png)

I show you some patterns as text.

1.
`?test=param1&test=param2`
[code]

2.
`?test=param1`
[code]

3.
`?test=`
[code]
4.
Query parameter is nothing
[code]

[2019-12-29 11:38] erm commented on #80
@koxudaxi thanks for explaining! I wasn’t aware of how normal query strings would work with the new changes. If you could PR a test to the effect of your examples I would appreciate it.

[2019-12-29 21:24] #80 closed

[2020-01-04 07:27] erichonkanen commented on #64
greetings, just stumbled upon this, definitely would be helpful to have it in the main readme doc on the front page! went to access the apigateway event.requestContext.authorizor data and realized I didn't know how to get it :)

Thanks for the pr!

[2020-01-04 10:14] erm commented on #64
@erichonkanen yeah, there is definitely some work needed on the docs. There is an open issue for documentation generally https://github.com/erm/mangum/issues/48.

I’ll try to get to it at some point, but open to PRs as well. :)

[2020-01-07 07:07] erm commented on #78
Resolved by https://github.com/erm/mangum/pull/79

[2020-01-07 07:07] #78 closed

[2020-01-07 22:57] erichonkanen commented on #62
Is there any more documentation from aws or here that explains what lifespan is or what enabling it means for the asgi app? Is it to keep the app instance running for the entire lifetime of the lambda container?

[2020-01-08 06:56] erm commented on #62
@erichonkanen lifespan in this context refers to an ASGI sub-specification - you can read more about it here: https://asgi.readthedocs.io/en/latest/specs/lifespan.html.

[2020-01-09 01:20] erichonkanen commented on #62
@erm ah great, thank you! also thanks for updating the readme :)

[2020-01-20 15:40] iwpnd commented on #48
Hi, I stumbled upon your library because I wanted to deploy a fastapi application to AWS Gateway and Lambda.
During local development I would have a uvicorn server running at all times:

`uvicorn example_app.main:app --reload`

[code]

Throws
`RuntimeError: this event loop is already running.`

It runs perfectly fine as it should in its deployment destination API Gateway / Lambda, yet not in local

[2020-01-20 22:35] erm commented on #48
@iwpnd Lifespan refers to an ASGI sub-specification, you can read about it here: https://asgi.readthedocs.io/en/latest/specs/lifespan.html. It isn’t related to AWS behaviour (side note: I should probably document this here specifically since this may be a source of continual confusion).

As to your specific issue, I haven’t attempted to reproduce it, but it looks like a conflict between Uvicorn an

[2020-01-21 07:40] iwpnd commented on #48
Thank you @erm, that's the confirmation I was hoping for.

It is not necessary, you're correct. I was hoping there was a more elegant way than commenting out the handler for local development. I will read up on the lifespan sub-spec for ASGI as you proposed. It's probably just something I need to wrap my head around.

[2020-01-31 07:26] iwpnd commented on #48
hi @erm! I finished a little [tutorial](https://iwpnd.pw/articles/2020-01/deploy-fastapi-to-aws-lambda#wrap-the-application-with-mangum) on how to deploy a fastapi with AWS Lambda/Gateway using Mangum. I mean it's not much, but I hope it helps some people to get started. Do you think I got the part about [Mangum](https://iwpnd.pw/articles/2020-01/deploy-fastapi-to-aws-lambda#wrap-the-application-w

[2020-02-01 00:52] erm commented on #48
@iwpnd had a read of your tutorial, good work! :)

Yeah, documentation is still on the agenda, though I'm not quite sure how it should look. Mangum itself doesn't do a whole lot that needs to be specifically documented (could be wrong). I think the most useful additions would be code examples/deployment configurations, but those vary quite a bit so I'm not sure how to best include them here.

Have

[2020-02-07 07:21] allan-simon commented on #69
I'm still having this error (with the same workaround of addding the header ) though I'm using 0.7.0

[2020-02-07 07:24] allan-simon commented on #48
What I've done is the following , i have a `lambda_main.py` which only does :

[code]
so that my main.py is what is launched by uvicorn (which therefore does not see the lambda_main.py code)

[2020-02-07 07:29] allan-simon commented on #48
@iwpnd  you tutorial was useful to me at least ! I'm deploying using terraform and gitlab-ci but it was of good help

the thing that your tutorial helped me clarify, and without I would have dismissed mangum, was the fact the `.yml` configuration seen in the examples was not needed (it was in these critical 5 minutes where you need to evaluate if a project is worth looking for, and at first I thou

[2020-02-07 08:41] erm commented on #69
@allan-simon can you post your full traceback using 0.7.0? I can take a look.

[2020-02-07 12:47] erm commented on #24
Starlette is considering support for Trio [here](https://github.com/encode/starlette/issues/811) and that would make at least two frameworks that support Trio (Quart being the other) - might be worth including here.

I'll reopen this if Trio support lands in Starlette.

[2020-02-07 16:53] allan-simon commented on #69
{"errorMessage": "'NoneType' object has no attribute 'get'", "errorType": "AttributeError", "stackTrace": ["  File "/var/task/mangum/adapter.py", line 60, in __call__
    raise exc
", "  File "/var/task/mangum/adapter.py", line 58, in __call__
    response = self.handler(event, context)
", "  File "/var/task/mangum/adapter.py", line 72, in handler
    response = self.handle_http(event, context)
",

[2020-02-07 17:00] allan-simon commented on #69
it seems it's only a problem for the first call , and after the second call on api gateway it seems to work without additional headers

[2020-02-07 18:02] SKalt commented on #69
[adapter.py line 24](https://github.com/erm/mangum/blob/master/mangum/adapter.py#L24) yep, the index-style dict access could fail there. Proposal: replace all the index-style dict access with `.get(key, with_fallback)`.

[2020-02-07 19:34] allan-simon commented on #69
@SKalt  thanks, I've proposed a PR here https://github.com/erm/mangum/pull/84

[2020-02-08 18:52] Amiram1 opened #85 "Missing 'typing_extensions' Dependency in 0.7.2"
New version raises a:  ModuleNotFoundError: No module named 'typing_extensions' on python3.7. Fallback to 0.7.0 works fine.

[2020-02-08 20:21] burritoIand commented on #85
ah, just left a comment on that LOC, glad I'm not alone :) will revert to 0.7.0 for now

[2020-02-08 21:19] erm commented on #85
I changed how the version was referenced in `setup.py`, and it caused an issue when installing. I've pushed a new release 0.7.3 to fix the regression.

[2020-02-08 21:19] #85 closed

[2020-02-08 22:12] burritoIand commented on #85
thanks!

[2020-02-09 09:23] lsorber opened #86 "Support multiple serverless platforms"
This comment [1] explains how to use Mangum with the serverless framework. Since serverless supports multiple providers (e.g., Azure), would it be possible that Mangum enables ASGI support for other providers too?

[1] https://dev.to/anilgrexit/comment/gkfo

[2020-02-09 10:09] erm commented on #86
So initially this is something I was considering [here](https://github.com/erm/mangum/issues/2) and Mangum used to support Azure specifically, but I ended up splitting that support out into a separate package https://github.com/erm/bonnette and have done something similar with Google Cloud Functions in https://github.com/erm/grevillea.

The adapter logic is essentially the same in these projects,

[2020-02-09 10:46] lsorber commented on #86
That's nice to hear, and thanks for the pointers.

The reason I posted this issue is because I think it would be great to be able to use the awesome FastAPI package across AWS Lambda, Azure Functions, and Google Cloud Functions.

If it helps, here's one other example of people with the same interest: https://github.com/tiangolo/fastapi/issues/812

[2020-02-14 15:29] kevlarr opened #90 "Problems with FastAPI/Starlette Gzip middleware"
*(First off, awesome package. Being able to use an actual framework on Lambda without writing any 'transformation' code myself has been incredible.)*

I'm attempting to use Starlette's `GZipMiddleware` with FastAPI right now, and our front-end is sending a `accept-encoding: gzip, deflate, br` header.

When I configure the middleware like so...

[code]

... I receive the following error.

[code]

I

[2020-02-23 02:45] erm commented on #90
I think this is related to binary response support in AWS - might need to add some handling around the content-type (or this is possibly related to configuration, not sure at this point), so that it can return the encoded response. Relevant docs [here](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings.html).

Can you paste an example of the AWS event?

[2020-03-07 14:48] yeyeric opened #91 "Lambda Warmer"
Hello,

I'm using fast api and AWS Lambda, and migrated successfully my projects thanks to your plugin, thanks a lot for that.

I'm now trying to add a warmer so that my lambda is called every 5 min.
I've found this https://pypi.org/project/lambda-warmer-py/ and I'm struggling to add the decorator since to work, we don't have any function to call.

How shoud I do to make use of this lambda warmer

[2020-03-08 02:44] erm commented on #91
@yeyeric could you post your attempt to create the function? This will give me a better idea of how you are using it.

[2020-03-12 18:05] yeyeric commented on #91
Initially, I have:

`handler = Mangum(app)`

I've tried:

@lambdawarmer.warmer
def handler(event, context):
    if event.get('warmer'):
         pass
    else:
         return Mangum(app)

Tried also many crazy combinations like
[code]

and of course:
[code]

all of which don't work at all....

[2020-03-13 20:53] lsorber commented on #90
This is a great resource to troubleshoot this: https://github.com/activescott/apigateway-lambda-binary-response

[2020-03-13 21:49] lsorber opened #92 "Mangum incorrectly assumes the response should be base64 encoded if the request is base64 encoded"
If the Lambda Proxy Integration receives an event that has `isBase64Encoded: true`, then Mangum incorrectly assumes [1] that the output should also be base64 encoded [2].

This makes sense if the Lambda processes e.g., an image into another image. However, if the Lambda takes in an image and returns a JSON, then the JSON will be base64 encoded even though it shouldn't be.

[1] https://github.com/e

[2020-03-13 21:55] lsorber commented on #92
This is how Zappa handles that logic [1]:

[code]

[1] https://github.com/Miserlou/Zappa/blob/master/zappa/handler.py#L551

[2020-03-13 23:22] lsorber commented on #92
Workaround we're using for now:

[code]

[2020-03-14 00:48] erm commented on #92
Thanks for raising this and adding all the details. When I have some time I’ll look at fixing it - also happy to review any PRs.

[2020-03-14 05:30] erm commented on #91
The adapter `Mangum` implements a `__call__()` method that receives the `event` and `context` as arguments, so you want to try something like this:

[code]
alternatively, the following is the same as above (but might make the behaviour more clear):

[code]

[2020-03-14 05:32] erm commented on #91
Closing this now, but feel free to comment further if you run into any issues.

[2020-03-14 05:32] #91 closed

[2020-03-14 09:45] lsorber commented on #92
You're welcome. I wrote a small PR to get the fix started, but unfortunately don't have the capacity to finish the details. Hope it's in the direction of how you would address this bug!

[2020-03-16 22:08] burritoIand commented on #90
hey, I just hit this exact same error when trying to enable the Starlette GZip middleware on my app that's behind apigateway/cloudfront...

[2020-03-17 06:14] erm commented on #90
@burritoIand Currently gzip is not handled properly in Mangum - there is an open PR [here](https://github.com/erm/mangum/pull/93) around resolving the current binary response issues. Once these fixes are merged in I will push a release to resolve this.

[2020-03-17 16:15] burritoIand commented on #90
@erm ok I tried out that PR and it didn't work for me

[2020-03-17 16:49] lsorber commented on #90
@burritoIand What error did you see when you tried out the PR?

[2020-03-19 10:09] erm commented on #90
@burritoIand do you mean handle the configuration or handle the response? We want Mangum to handle gzip responses, but any specific deploy/build configuration should be handled elsewhere.

What issues did you run into using @lsorber's PR? I haven't had a chance to review/test it yet, but it looks like the path forward here.

[2020-03-19 18:56] burritoIand commented on #90
@erm I meant handle the response, I'll try to revisit it today and report back!

[2020-03-23 13:00] erm commented on #92
Closed by https://github.com/erm/mangum/pull/93

[2020-03-23 13:00] #92 closed

[2020-03-23 13:02] erm commented on #90
@burritoIand I merged in @lsorber's PR, but I'm going to make sure the gzip responses are working/tested before I push the next release. Any additional details you could provide would be very helpful (especially an example AWS event or any error tracebacks).

[2020-04-08 07:17] alessandrojcm opened #95 "Support new API Gateway HTTP APIs"
Hi there, I'm getting the following error when my app executes in API Gateway (paths shortened for brevity):

[code]
Here is my FastApi app code:

[code]

And here is the Mangum adapter:
[code]

Also tried running locally with `gunicorn`, same error. If I run the app normally with `uvicorn` it works fine.

I'm using the latest version of FastAPI (0.54.1) and Python 3.8 on a Manjaro Linux machine.

[2020-04-08 08:31] sses79 commented on #92
erm
Could you include this in the new release?  Many thanks

[2020-04-08 20:18] alessandrojcm commented on #95
Oh it looks like PR #94 addresses this, what's the status on that?

[2020-04-08 21:03] sses79 commented on #90
@erm
Could you do a new release include @lsorber 's PR?

[2020-04-09 07:30] erm commented on #90
@sses79 sure, but I wanted to do some testing before I do - haven't had a chance yet. Have you had an issue with the current release that would be resolved by that PR? If I can reproduce an issue and test then it would be speed things up.

Will try to push a release over the long weekend in any case.

[2020-04-09 07:35] erm commented on #95
I haven't had a chance to review that PR properly, but there are a few issues that will need to be resolved before it is mergeable. I'll try to look into it over the weekend.

[2020-04-09 08:31] sses79 commented on #90
@erm
The same error when I try to output an Apple .pkpass binary data (Content-Type application/vnd.apple.pkpass), I think that PR will fix body.decode() issue.

File "/var/task/mangum/protocols/http.py", line 97, in send
    self.response["body"] = body.decode()
UnicodeDecodeError: 'utf-8' codec can't decode byte 0x8b in position 1: invalid start byte

[2020-04-09 16:13] alessandrojcm commented on #95
Cool thanks

[2020-04-12 06:15] #90 closed

[2020-04-12 06:18] erm commented on #90
Just released 0.7.5. This should resolve the gzip issues, and your issue @sses79 (see the README for including your content type in the `text_mime_types` list).

If there are any problems feel free to comment here and I'll reopen.

[2020-04-14 07:43] erm commented on #95
I've merged the PR for this into `master`, but there are a few things I want to do before the next release (probably this weekend). I'll leave this open until then.

[2020-04-14 08:28] sses79 commented on #90
Many thank :+1:

[2020-04-15 03:51] alessandrojcm commented on #95
Great! Thanks for the update @erm

[2020-04-18 04:46] erm commented on #95
Released in 0.8.0.

[2020-04-18 04:46] #95 closed

[2020-04-19 03:38] erm commented on #77
@levinotik I've created a Django application example using Serverless Framework if you're still interetsed, can find it here: https://github.com/erm/serverless-mangum-examples/

[2020-04-19 03:39] levinotik commented on #77
Will check it out, thanks so much!

[2020-04-19 13:13] #62 closed

[2020-04-19 15:07] levinotik commented on #77
@erm Thanks again. I know Websockets are still not supported. Will Django Channels work with Mangum? Looking to be able to use GraphQL subscriptions.

[2020-04-25 18:16] burritoIand commented on #90
@erm @lsorber just returned to this and tried out the latest release with gzip middleware enabled, it works! thank you! sorry I didn't test it earlier, been knee-deep in other stuff, cheers!

[2020-04-26 01:27] erm commented on #52
So I finally got around to working out a better WebSocket implementation, and I'm thinking it is probably unnecessary to require DynamoDB to use it. All we really need is the connection ID of the client in APIGateway and then either Mangum itself could provide a configurable backend class, or leave it completely up to application to implement storage.

[2020-05-03 11:48] erm commented on #52
Closed by https://github.com/erm/mangum/pull/99

[2020-05-03 11:48] #52 closed

[2020-05-04 08:16] erm opened #100 "Support URI string parameter for all WebSocket backends"
Only the postgresql backend currently supports passing a single string`uri` connection parameter, but it'd be a lot easier to use and customize the parameters if all the backends used a `uri` parameter.

SQLite, PostgreSQL, and Redis will be easy enough since the libs I use already accept them:

[code]

The backends that rely on Boto3 requests (S3, dynamodb) will need to be parsed first, but I fig

[2020-05-04 08:18] jordaneremieff opened #101 "Document an example project that uses WebSockets"
Probably will use Serverless Framework for this in a separate repo. Not sure yet.

[2020-05-05 10:32] erm commented on #100
Closed by https://github.com/erm/mangum/pull/103

[2020-05-05 10:32] #100 closed

[2020-05-05 10:39] #48 closed

[2020-05-05 10:46] erm opened #104 "Document third-party examples, blog posts, etc."
Should add a section to the docs for third-party examples and guides using Mangum

[2020-05-05 10:48] erm commented on #48
@iwpnd I've been revamping the documentation since I've had a bit more time as of late. If you'd still like to contribute, maybe you could start with a section that links to examples/guides. I don't know how it should look, but feel free to come up with a structure and add a link to your post and I'll review. I'm tracking this here https://github.com/erm/mangum/issues/104.

[2020-05-09 02:55] vincentsarago opened #105 "`rawQueryString` seems to be a string instead of bytes literals"
👋 @erm, first let me thank you for this ~great~ awesome library, as the author of another `proxy` for aws lambda I know this can be a 🕳️ sometimes.

I'm currently working on https://github.com/developmentseed/titiler which is a FastAPI based tile server. When deploying the lambda function using mangum and the new api gateway HTTP endpoint, most of my endpoints works except for the ones where I cal

[2020-05-09 06:32] erm commented on #105
@vincentsarago thanks for the detailed description of the issue. :)

I had a look, a bytes string is being suppled for the `rawQueryString` in the tests, but this is incorrect. I'm working on a pre-release currently and will address this as part of those changes.

I'll update this issue when the changes are in.

[2020-05-09 08:17] erm commented on #105
These changes are now in master, https://github.com/erm/mangum/commit/dc14a0027212812cca3e1d7d5087fa9f236ebd03#diff-12d2884e46108e48b62f0482aa6988d3R104. I'll see about a pre-release later tonight or tomorrow (still want to do some more testing of the latest batch of changes before pushing 0.9.0).

[2020-05-09 08:17] #105 closed

[2020-05-09 08:40] erm commented on #77
@levinotik I added an example configuration for Channels to the [docs](https://mangum.io/asgi/#channels). I did just a brief test with the chat app from Channels tutorial, but didn't attempt to integrate any of the WebSockets backend stuff into it.

You can try with the current state of the master branch and should be able to get something working (could be potential issues I haven't anticipated,

[2020-05-09 13:37] erm commented on #105
Actually I ended up just pushing the 0.9.0 release (includes this change). Please follow-up if you run into any further issues.

[2020-05-09 13:40] erm commented on #101
I've started this here: https://github.com/erm/mangum-example. I think I've created quite a few example repos up to this point, but they all try to provide multiple examples in a single repo. I think it will be easier to document a single example repo for now.

[2020-05-09 13:49] jordaneremieff opened #106 "Refactor tests parameters and fixtures"
The tests are a bit difficult to understand at the moment. I think the parameterization and fixtures could be modified to make it easier to make the behaviour more clear, docstrings are probably a good idea too.

[2020-05-09 14:05] vincentsarago commented on #105
thanks a lot @erm I will test it right away :-)

[2020-05-09 14:23] vincentsarago commented on #105
Everything works now 😄 🎉
thanks so much

[2020-05-11 15:24] levinotik commented on #77
Awesome, thanks a lot @erm

[2020-05-13 15:30] erm opened #107 "Fix lifespan execution order"
While working on the example app I've run into an issue when interacting with the database in post requests. The initial request seems to work fine (db on startup/on close execute properly in lifespan context), but if I make a post request using a form (e.g. a login) the connection pool isn't acquired. I think this is because the lifespan startup should be run not in the adapter constructor, but r

[2020-05-15 13:08] #107 closed

[2020-05-15 13:41] jordaneremieff opened #109 "Remove `enable_lifespan` parameter (deprecated)"
The `enable_lifespan` field was deprecated as part of https://github.com/erm/mangum/pull/108. It is being replaced with a `lifespan` option that can be set to "auto", "on", "off" (similar to [Uvicorn's](https://www.uvicorn.org/settings/#implementation) parameter).

Since it was included in many examples and documentation I will likely not remove it for awhile. Probably in 0.10.0, but maybe later.

[2020-05-15 13:56] erm opened #110 "Add changelog to repo and release notes to documentation"
Since I'm actually adding notes to the releases now I think this should be included in the repo itself and not just the GitHub release. I wonder if there is a good way to automate this so content can be reflected in all three places (`releases.md`, `CHANGELOG.md`, Github release).

[2020-05-16 10:54] erm commented on #110
I've added this manually for now, but probably want to automate this as part of the release process

[2020-05-16 10:54] #110 closed

[2020-05-17 10:19] jordaneremieff opened #112 "Document that a $connect route is required for WebSockets"
It is possible to send WebSocket messages without a $connect route defined, however the message event doesn't contain the necessary information to form the ASGI scope. Maybe there is a clever way to work around this that I haven't thought about, but I think documenting that a $connect route must be defined is probably the better solution.

[2020-05-19 02:37] ericmbarnard opened #113 "No module named 'boto3' after 0.9.x release"
Awesome project!

We've been using this to run Starlette in Lambda. After installing the newer 0.9 version, I'm now getting the following stack trace:
[code]

Looks like it's importing a websocket class from boto3 as part of the initial import path for the entire lib. If your intention is to have boto3 as a hard dependency of the project - that's cool, then I'm thinking you'll want to move boto3 o

[2020-05-19 03:05] erm commented on #113
Ah, no, it is not my intention to include any hard dependencies in this package. There used to be a check for this that I removed temporarily while doing a refactor, but forgot to re-add it. I'll push a new release later that makes this optional for HTTP events.

Thanks for bringing this to my attention! :)

[2020-05-19 03:47] koxudaxi opened #114 "Dynamodb backend converts table_name to lowercase"
@erm
Our team often use uppercase names for a dynamodb table.
example: `dynamodb://ProjectName.Local.WebSocket`

But, `DynamoDBBackend` use  `urlparse` to obtain `table_name`
https://github.com/erm/mangum/blob/292aff25ca63832b67a31c7a67939e36a82eeb25/mangum/backends/dynamodb.py#L14-L19

A hostname attribute always returns lowercase.
https://docs.python.org/3/library/urllib.parse.html#urllib.parse.

[2020-05-19 07:44] erm commented on #113
Included in 0.9.2.

[2020-05-19 07:44] #113 closed

[2020-05-19 07:53] erm commented on #114
@koxudaxi Yep, that makes sense. All of the WebSocket backends were implemented with no more complexity or configuration than was necessary for my initial testing, so this is a welcomed change. Ideally, I want to keep the `dsn` convention and just change the parsing logic to accomodate any legal DynamoDB table name.

Is this something you'd be willing to PR?

[2020-05-19 08:00] koxudaxi commented on #114
@erm
Thank you for your reply.
I will try to create a PR tonight or tomorrow.

[2020-05-19 17:45] koxudaxi opened #117 "Empty WebSockets request is raised exception"
@erm
If I send empty WebSockets request then, mangum raise an exception.
mangum doesn't expect an empty body.

the version is  `0.9.0`
[code]

Would you expect the behavior? Or Should we fix code for this case?
I guesses we have to fix it like this.
[code]

[2020-05-20 07:27] #114 closed

[2020-05-20 07:41] erm commented on #117
@koxudaxi Hm, I had assumed that body key would always be included in the message event. We should fix the code for this case, but first how might I reproduce this event?

[2020-05-20 07:57] koxudaxi commented on #117
@erm
I used [wscat](https://github.com/websockets/wscat) testing it
Sorry, I lost the log. I write a way to reproduce the error.
[code]

[2020-05-20 09:26] erm commented on #117
@koxudaxi I see, thanks for that. We should resolve this per your suggestion. Happy to review a PR to handle this, otherwise I'll do it myself at some point this week.

[2020-05-21 01:25] #117 closed

[2020-05-21 08:27] jordaneremieff opened #119 "Store the 'requestContext' in WebSocket message events"
Currently just store the initial connection event data, should add a key to the scope for updating the message request context.

[2020-05-21 11:26] jordaneremieff opened #120 "Implement broadcast in WebSocket backend"
After some experiments, I've realised it probably makes sense to include broadcast support in the backend. Not exactly sure how this should look yet.

[2020-05-21 11:27] erm commented on #120
Probably want to use [httpx](https://github.com/encode/httpx) for the API Gateway call instead of boto3.

[2020-05-23 00:25] jordaneremieff opened #121 "Replace boto3 calls with HTTPX"
I think it would be nice to use the AWS APIs with [HTTPX](https://www.python-httpx.org/) instead of boto3. I'll have to investigate how difficult it will be to implement the signing process described here https://docs.aws.amazon.com/general/latest/gr/sigv4_signing.html

[2020-05-23 02:43] erm commented on #120
I think this will be implemented as an ASGI [extension](https://asgi.readthedocs.io/en/latest/extensions.html) like this:

[code]
And in the scope I'll add `"extensions": {"websocket.broadcast": {}},`

[2020-05-31 02:14] jordaneremieff opened #123 "Local dev server"
I think this would be mostly useful for developing Mangum itself, but it could be useful for application developers. Currently I've relied on [Serverless Offline](https://github.com/dherault/serverless-offline) to test deployments, but this requires a Serverless Framework configuration and gives me a lot more than I need for certain debugging tasks.

Essentially what I think needs to be done is pr

[2020-06-02 02:14] andrianowinatra commented on #123
Is it not possible to rely on [localstack?](https://github.com/localstack/localstack)

[2020-06-02 03:18] jordaneremieff commented on #123
@andrianowinatra I'm not very familiar with this library, but one thing I noticed in the README is that it would require a paid plan for WebSocket support. I'm primarily wanting this for WebSockets development without needing any additional configuration or overhead, because I want a way to quickly see how the adapter and ASGI requests<->response behaviour is working before committing to any signi

[2020-06-03 01:14] seanaye opened #126 "KeyError: 'requestContext'"
likely related to #95

I'm just getting started with serverless in a test application. Im using poetry as python package manager and serverless framework to deploy.

my handler
[code]

my serverless.yml
[code]

I get
[code]

on every `sls invoke -f graphql --log`

[2020-06-03 08:31] jordaneremieff commented on #126
This is expected behaviour.

The adapter requires the information in the event and request context to form the ASGI connection scope, or it will not be able to run the application. API Gateway is used to invoke the Lambda function with event data for the specific API type. One thing you might try is invoking the function with test JSON data, but you'll have to consult the Serverless Framework docu

[2020-06-03 08:31] #126 closed

[2020-06-12 12:56] jordaneremieff opened #127 "Move WebSocket support into separate project"
I’m wondering if it might be a good idea to focus on WebSocket support in a separate repo and have Mangum primarily focus on HTTP.

The HTTP support is pretty much “done”, and my guess is that this is the primary use-case for most users. WebSocket support has been changing quite a bit, and I don’t think it is being used very much.

If anyone has opinions, please let me know, otherwise I think I’ll

[2020-06-13 11:36] jordaneremieff commented on #127
Actually, nevermind. I thought it about more, this isn't a good idea.

[2020-06-18 02:59] jordaneremieff commented on #120
I ended up turning to the ASGI spec repo for some advice on the extension approach https://github.com/django/asgiref/issues/169. The conclusion I have drawn is that this is not a good use-case for extensions, instead I opted to parse specific message events in the protocol based on a `broadcast` configuration setting. Still working out the refactor (making it all async and using HTTPX for the WebS

[2020-06-21 13:56] koxudaxi opened #128 "API Gateway returns timeout error after conect to WebSockets endpint"
API gateway returns an error of timeout after 30 seconds when I connect on WebSocket.
I can drop the error. But, I don't know why the error happens.
the error message is "Endpoint request timed out".

[2020-06-22 00:04] jordaneremieff commented on #128
@koxudaxi thanks for reporting the issue.

Could you drop the error here? I'll take a look into reproducing and try to resolve as part of the refactor PR.

[2020-06-22 01:25] koxudaxi commented on #128
@jordaneremieff

WebSocket Client get this error.
`{"message": "Endpoint request timed out", "connectionId":"yyyyyyyyyyyy=", "requestId":"xxxxxxxxxx="}`

Thank you very much

[2020-06-23 09:19] jordaneremieff commented on #128
@koxudaxi I don't think I am able to debug this without knowing more about application and deployment. There is some info about the API Gateway events documented [here](https://mangum.io/websockets/#api-gateway-events), it could be that the `$connect` event route is not defined. Or perhaps there is something in the application logic causing it to hang?

In any case, I think the adapter probably _s

[2020-06-23 15:12] koxudaxi commented on #128
@jordaneremieff
I might mistake the event route. I will check it.
I close this issue now.
If I can't resolve the error then, I will re-open this issue and show you an example code.

We may need to write an example in Mangum document as the AWS setting(Cloud Formation or CDK or etc) to understand it easily.

Thank you very much.

[2020-06-23 15:12] #128 closed

[2020-06-28 01:13] jordaneremieff commented on #127
Actually, this might have been a good idea.

The broadcast support that I want to include in here is a fairly large project to complete, and I don't think the WebSocket implementation is as useful without it. I don't have as much time as I did when I initially started on it, and I don't want to block other changes being merged/release or maintain parity between my WIP branches and main.

My initia

[2020-06-28 01:52] #101 closed

[2020-06-28 01:52] #112 closed

[2020-06-28 01:52] #119 closed

[2020-06-28 01:52] #120 closed

[2020-06-28 01:52] #121 closed

[2020-06-28 01:52] #123 closed

[2020-06-28 02:03] jordaneremieff opened #131 "Use Github actions"

[2020-06-28 02:56] jordaneremieff commented on #127
Done. I'll think about how I might document a path forward here if anyone is interested in API Gateway WebSocket support in the future, but not sure at the moment. I think a separate project is best.

[2020-06-28 02:56] #127 closed

[2020-07-01 18:36] koxudaxi commented on #127
@jordaneremieff
My team wants to use API Gateway WebSocket.
We are testing it with Magnum.
Did you have a plan for a new project?

[2020-07-01 22:49] jordaneremieff commented on #127
@koxudaxil I am still thinking about how to best approach it, but yes, I will be creating a separate project. I’ll create a new ticket today with my thoughts/roadmap about the future of WebSocket support to track this effort, because my goal is to use this separate project to develop the feature and later migrate it back into Mangum itself.

[2020-07-01 23:29] jordaneremieff opened #132 "AWS WebSocket support"
I've removed the existing WebSocket support as part of https://github.com/jordaneremieff/mangum/issues/127 with the intention of developing it outside of this package, then later migrating it back in (if it makes sense to do so). My main concern is that I want to avoid impacting the stability of the HTTP implementation which is the primary use-case, and the maintenance burden was too much for the

[2020-07-02 16:48] koxudaxi commented on #127
Thank you for your reply.
I'm waiting for the next action.
I'm busy this month, But, I hope to test it or, discuss it with you.

[2020-07-15 20:33] Vlad-Radz commented on #106
May I take this one?

[2020-07-16 14:25] jordaneremieff commented on #106
@Vlad-Radz sure! :)

[2020-08-01 04:23] jordaneremieff commented on #106
@Vlad-Radz are you still interested in taking this up? I was thinking of looking into it again, but don't want to step on your toes if you are already working on it or still interested in doing so.

If you still want to but don't have time, then it can wait until you're able to look into it. No pressure, but please let me know when you can. :)

[2020-08-01 17:57] Vlad-Radz commented on #106
Hello @jordaneremieff, thanks for asking! Indeed, I started to check the overall codebase in general and tests in particular this week, in order to understand it better. Right now I have time at the work, but if this will change, I will let you know.

[2020-08-13 09:54] neko1101 opened #135 "Need help on serverless deploy using Mangum as adapter."
Good day guys!

I have some issues deploying using serverless framework (AWS Lamda).

AWS Cloudwatch Logs for the Lamda:
[code]

According to (https://fernandomc.com/posts/issues-with-typing-python-3/) this is caused by `typing` module conflict.

I've tried to exclude/uninstall the module but no luck at all, can someone show me some lights? I'm happy to give more info as per your request...

For a

[2020-08-14 12:01] jordaneremieff commented on #135
@neko1101 Hello. What Python runtime version are you using, and could you post a minimal example of an application & serverless configuration I can use to reproduce this?

[2020-08-16 21:25] simonw commented on #131
I have a pull request open with a direct port of the current `.travis.yml` configuration to GitHub Actions.

Is that what you were looking for here?

[2020-08-16 21:26] simonw commented on #131
I use Actions to publish my releases to PyPI too - e.g. https://github.com/simonw/datasette-graphql/blob/main/.github/workflows/publish.yml - happy to include that if it would be useful (you'll need to set a `PYPI_TOKEN` secret for that to work).

[2020-08-17 07:33] jordaneremieff commented on #131
@simonw awesome! Yep, this is exactly what I wanted to accomplish for this one. If you could add include the publish workflow as well that would be great too.

Thank you!

[2020-08-17 16:21] simonw commented on #131
OK, added that to the pull request.

It works based on creating GitHub releases - which are attached to tags.

You will need to set a PYPI_TOKEN secret for the repo. You can generate a token that is scoped to only be able to release Mangum using the interface at https://pypi.org/manage/account/token/

[2020-08-18 00:14] jordaneremieff commented on #131
Merged https://github.com/jordaneremieff/mangum/pull/136

[2020-08-18 00:14] #131 closed

[2020-08-25 08:13] neko1101 commented on #135
Running python =<3.6 solved it!
@jordaneremieff thanks for your reply!

[2020-09-02 13:49] aroraprince commented on #39
I think the issue still persists while deploying FastAPI, using Mangum, and Serverless Framework.

I have tried a couple of things till I am not able to get the whole setup working using the latest library versions:

My handler:
[code]

serverless.yml:
[code]

My requirements.txt

[code]

When I deploy it using serverless, sls depoy and Invoke the function I ma getting the following error:

[code]

[2020-09-02 14:23] jordaneremieff commented on #39
@aroraprince Hello. There is another issue that I think is related to the issue you're describing here https://github.com/jordaneremieff/mangum/issues/126. The ASGI connection scope is built using information provided in the request context when invoked by API Gateway, it appears you are invoking the function without the request context here.

[2020-09-02 15:10] aroraprince commented on #39
@jordaneremieff yes, I think it is not able to pass the context.
As mentioned in #126 , I will check on StackOverflow once again, and post the solution online.

[2020-09-23 07:20] Nagalenoj commented on #86
I was looking to use FastAPI with Google Cloud Funtions and landed over here. Agree with @lsorber .

[2020-09-23 09:47] jordaneremieff commented on #86
@Nagalenoj Okay, I'll think about how to approach this, but I probably won't be able to start on it until the end of next month. Most likely I will support multiple providers in this project.

[2020-09-25 19:02] dspatoulas opened #137 "The api_gateway_base_path parameter should not auto prefix a slash"
The configuration of the `api_gateway_base_path` assumes the input that is not already prefixed with a "/" (forward slash character). This causes consumers of the library to constantly have to modify if their base path should have the prefix added or not, and unnecessarily restricts the consumer of the library. This behavior can be improved by only prefixing the input value if it is not prefixed a

[2020-09-27 02:43] jordaneremieff commented on #86
So I started doing some investigation into how I might accomplish this. I'm thinking adapter classes will look like this:

[code]

The `options` dict would replace all the platform-specific configuration (e.g. `api_gateway_base_path`) and the main `Mangum` class would still be the common interface for creating the adapter instances and running the ASGI cycles:

[code]

My intention is to implement

[2020-09-27 02:45] jordaneremieff commented on #109
This will be removed as part of whichever release includes https://github.com/jordaneremieff/mangum/issues/86

[2020-09-27 02:47] jordaneremieff commented on #132
The next large item I'm interested in working on is https://github.com/jordaneremieff/mangum/issues/86, so I won't likely revisit this for awhile. Still happy to assist anyone that wants to take this on, but I'll be focusing on supporting multiple FaaS platforms before doing anything further myself.

[2020-09-28 05:36] burritoIand opened #139 "Brotli Support"
Hello, I just created an issue over in https://github.com/fullonic/brotli-asgi/issues/12, which looks familiar from https://github.com/jordaneremieff/mangum/issues/90.

Would the place to add brotli support to fix this bug be here in Mangum?

[2020-09-28 13:30] jordaneremieff commented on #137
Good idea, thank you.

[2020-09-28 13:30] #137 closed

[2020-09-29 16:20] fullonic commented on #139
Looks like the issue is here: https://github.com/jordaneremieff/mangum/blob/dc16f7f32d16d2f95b2fdceba6995404b16bc6e0/mangum/protocols/http.py#L158
I did a PR that solves your issue https://github.com/jordaneremieff/mangum/pull/140. May you test it? thanks

[2020-09-30 02:02] #139 closed

[2020-10-02 04:41] mdavis-xyz commented on #22
I'm interested in deploying FastAPI inside AWS Lambda.

This issue is the only mention I've found online of `from mangum.platforms.aws.adapter import AWSLambdaAdapter`.

Where can I find documentation about this adapter?

I found [magnum on pypi](https://pypi.org/project/magnum/) but that description sounds unrelated to this, and I can't find `AWSLambdaAdapter` mentioned anywhere in the source cod

[2020-10-12 21:27] mojimi opened #142 "How to configure it to work with API Gateway's stage URLs? (Can't get FastAPI Auto docs to work)"
When you're using API Gateway without custom domain, your URL will look something like this :
`
https://123.execute-api.ap-southeast-2.amazonaws.com/dev`

But `/dev/` actually translates to `/ ` in the lambda handler

So, because of this I could't get FastAPI auto docs to work, because it will try to get the json file via javascript through the `/openapi.json` relative URL, which will translate to

[2020-10-13 11:42] jordaneremieff commented on #142
@mojimi Hello.

I think you should be able to use the `api_gateway_base_path` parameter for this:

[code]

If this does not work, then I will need more information about your deployment.

[2020-10-13 23:30] #142 closed

[2020-10-13 23:53] mojimi commented on #142
That didn't work actually, the problem really is on the frontend, I will try to setup a minimal working example and post here, but there really isn't anything to it

[2020-10-14 16:54] cybojenix opened #143 "API Gateway does not provide Content-Length header, breaks strict checking"
We're having some issues at the moment, where running Flask via the Starlette WSGIMiddleware ends up [dropping the Body](https://github.com/pallets/werkzeug/blob/e89c0f85f1a43b4d8519573454c6a897ab6a189d/src/werkzeug/wsgi.py#L233-L237) due to no `Content-Length` being present.

API Gateway doesn't provide the `Content-Length` header, and the main lambda -> wsgi adaptors handle this by setting the h

[2020-10-14 16:56] cybojenix commented on #143
We're happy to contribute the fix if this is something you're happy to accommodate.

Are there any contributor guidelines we should be aware of?

[2020-10-15 01:50] jordaneremieff commented on #143
@cybojenix sure, happy for you to PR this change. 👍

I'm not very strict on contributions, just so long as there is some test coverage and the changes conform to black formatting, then it should be fine. Mypy is run in the build, but don't worry too much about type hints, sprinkling `# type: ignore` is acceptable in cases where the correct typing isn't obvious.

This reminds me I should add a cont

[2020-10-15 09:48] jordaneremieff commented on #142
@mojimi I tried to recreate the issue but wasn't able to. If you can post something to reproduce I can take another look.

[2020-10-17 02:06] jordaneremieff commented on #86
I've made some headway on this and have a working PoC that supports AWS Lambda, Azure, and Google Cloud Functions like this:

[code]

However, I think I won't go ahead with including it in this package directly. I'll explain how I came to this conclusion.

**Initial implementation**

Azure has been a bit tricky because it expects specific parameter names to be defined in the definition of the hand

[2020-10-17 03:08] jordaneremieff commented on #86
I created an issue [here](https://github.com/Azure/azure-functions-python-library/issues/75) to explore the Azure use-case.

[2020-10-17 07:18] jordaneremieff commented on #109
Removed [here](https://github.com/jordaneremieff/mangum/commit/497f778510118fcf268438526f8117f360d63a34). Will raise an error in 0.10.1.

[2020-10-17 07:18] #109 closed

[2020-10-18 12:37] lsorber commented on #86
Makes sense @jordaneremieff. Thank you for taking the time to explore what a solution could look like, and for helping to kick-start a proper integration.

Unrelated: you've got some creative project names, how do you come up with those if I may ask?

[2020-10-18 20:56] jordaneremieff commented on #86
@lsorber No worries. I think most of what is in here can be re-purposed without too much effort. I'll base anything further about this on how the Azure functions library might approach ASGI, will just let this ticket hang around in the meantime. I might just end up copying over anything relevant from Mangum to Grevillea specifically when I next look into GCF.

Also, Mangum & Bonnette are named aft

[2020-10-19 21:29] #86 closed

[2020-10-26 01:27] burritoIand opened #144 "How do I log the correct User-Agent from requests to ApiGateway with Mangum?"
This may be outside the scope of this lib but figured I'd ask because I'm not sure.

I'm using mangum with apigateway proxy+ to run a python api and I want to set up apigateway access logging to log data about all api requests.

The challenge I'm having is getting the right User-Agent. After setting up the access logs and including "useragent": "$context.identity.userAgent" in the log body, Im see

[2020-10-26 01:35] burritoIand commented on #144
shoot think I spoke to soon and it does appear to be working, I happened to glance at a log that was from an internal api request :]

[2020-10-26 01:35] #144 closed

[2020-10-28 15:44] n-raghu opened #145 "module initialization error: get() missing 1 required positional argument: 'path'"
I have tried the sample "Hello World" API using FastAPI.
But looks like something is missing and it throws a generic error in the response.
In the CloudWatch logs, I was able to get full error info

2020-10-28T21:01:28.000+05:30Copymodule initialization error: get() missing 1 required positional argument: 'path' | module initialization error: get() missing 1 required positional argument: 'path'

P

[2020-10-29 07:22] n-raghu commented on #145
It was a typo, I forgot to create an instance of FastAPI, its working after correcting it.

[2020-10-29 07:22] #145 closed

[2020-10-30 12:50] setterlee opened #146 "multipart/form-data support with FastAPI"
Fast api provide methods to upload files with content type multipart/form-data. Using mangum as handler the api return a parsing body error.

FastAPI Router

[code]

Response on api gateway:

[code]

[2020-10-31 01:23] #146 closed

[2020-10-31 01:24] setterlee commented on #146
The problems was not this library, I was missing another python library for multipart support

[2020-11-17 05:37] chesnutcase opened #147 "Allow custom path and root_path resolution logic in ASGI scope"
FastAPI + mangum works well for single-backend API gateways, but for API gateways where different resources can point to different FastAPI applications in different stacks (a true "gateway") this can break pretty quickly. I think the logic for `path` and `root_path` variables in the ASGI scope object should be extensible by the user – right now, `root_path` is hardcoded to a blank string (which I

[2020-11-18 11:35] jordaneremieff commented on #147
@chesnutcase This makes a lot of sense, thanks for the detailed issue description. 👍

Support for custom resolution logic is something that should probably be included here, though I'm not certain yet how it should be designed. I've generally wanted to avoid subclassing the adapter itself, but perhaps there isn't a better alternative in this case (have to think a bit more on it).

If we did end up

[2020-11-20 13:28] theoturner commented on #142
I also had this issue and fixed it by setting `openapi_prefix` in the FastAPI constructor, e.g. for the above:
[code]
This will likely cause the same error in your local environment, so you can use an environment variable with `""` as the default, i.e.
[code]

[2020-11-23 09:30] major-mayer opened #149 "[Feature Request] Support for Application Load Balancer as event source"
As you might know, since a while Lambda functions can not only be triggered with the API Gateway, but also with the Application Load Balancer.
This has a few benefits, the most important is in my opinion, that there is no such rigorous request timeout as with the API Gateway.

I think adding support for the Application Load Balancer shouldn't be too hard, because the events don't differ that much.

[2020-11-23 23:39] jordaneremieff commented on #149
@major-mayer hello, thanks for raising this.

I would be happy to review a PR that enables support for ALB. I think https://github.com/jordaneremieff/mangum/pull/133 was trying to solve similar problems with ALB, but that PR ended up not going forward - it may serve as a good starting point.

[2020-11-25 12:08] jordaneremieff commented on #149
@major-mayer I'm not sure your programming background generally, but if you did want to give it a shot and put forward a draft PR then I'd be willing to assist with comments and direction. :)

Otherwise, it could be awhile before I'm able to address this myself or until someone else decides to take it up.

[2020-12-04 21:43] sergiors opened #151 "Slash at end of endpoint"
I've been updated to version `0.10.0` and suddenly all my endpoints on custom domain doesn't work more. I had to add `/` at end of url to back to work.

Is it a normal or a bug?

[2020-12-08 11:00] TAJD commented on #39
A quick note for anyone who is fresh to deploying FastAPI via AWS API Gateways as a Proxy resource - you must format your response in the following manner:

[code]

Otherwise, you can have all sorts of fun dealing with CORS errors having otherwise correctly configured everything else within FastAPI and AWS.

[2020-12-16 15:38] akhtariali opened #152 "Cannot pass JSON in request body: 'dict' object has no attribute 'encode'"
### Request:
[code]

### Response:
[code]

### What causes the error?
mangum/blob/main/mangum/adapter.py line 150
[code]

[2020-12-19 03:45] jordaneremieff commented on #152
@akhtariali can you confirm the version of Mangum you are using?

[2020-12-19 03:51] jordaneremieff commented on #151
@sergiors there was a change merged as part of https://github.com/jordaneremieff/mangum/issues/137 to conditionally prefix the base path in `0.10.0`, though it's unclear if that would have caused the behavior you're describing.

Can you please provide the following:

- Example of your previous configuration
- Example of your current configuration
- Previous version of Mangum before `0.10.0`

[2020-12-19 08:29] akhtariali commented on #152
@jordaneremieff 0.10.0

I updated the API to only receive encoded parameters. But I'm not sure if it's a proper solution.

The part of code that appears to be problematic is present since the first commit on `adapter.py`. See: https://github.com/jordaneremieff/mangum/blob/96bb9a8b359139f77dea7d4ab25e8c980e13f312/mangum/adapter.py#L249

[2020-12-19 14:25] akhtariali commented on #152
When I make requests from Postman, it works fine. When I use the test function in the AWS Lambda dashboard, it gives me this error. I send the data as raw JSON in Postman.

[2020-12-24 00:27] jordaneremieff commented on #151
Closing this off because I don't think there is a bug or anything unexpected at this point, but feel free to follow-up with additional comments.

[2020-12-24 00:27] #151 closed

[2020-12-24 01:08] jordaneremieff commented on #152
@akhtariali this is expected behavior when invoking requests directly using Lambda Proxy integration in the AWS Lambda test console, but when using Postman the API Gateway integration is handling the request so it does not run into this issue.

In the AWS test console, you would have to use an escaped JSON string for the body like this:

[code]

[2020-12-24 01:08] #152 closed

[2020-12-29 12:14] toidi opened #154 "[Question] What is a purpose of using asyncio.Queue() in HTTPCycle"
https://github.com/jordaneremieff/mangum/blob/8763b9736a8ef60d16e10a204617f9b25fcd6a61/mangum/protocols/http.py#L45-L46

[2020-12-30 03:55] jordaneremieff commented on #154
@toidi Hello, I'm not sure if I understand your question. The description in the docstring seems clear to me, but perhaps it could be reworded?

The queue is used to communicate [ASGI message events](https://asgi.readthedocs.io/en/latest/specs/www.html) between the application and adapter. The [receive](https://github.com/jordaneremieff/mangum/blob/8763b9736a8ef60d16e10a204617f9b25fcd6a61/mangum/p

[2020-12-30 03:55] #154 closed

[2020-12-30 07:03] toidi commented on #154
I mean, assuming the way Lambda works - it only sends one event(HTTP request) per invocation.

Python lambda internal are available here https://github.com/aws/aws-lambda-python-runtime-interface-client/

In that scenario async framework barely makes sense, but that's not a topic I'd like to discuss.

I didn't understand what caused the requirement of adding complexity with queuing. Weren't regula

[2020-12-30 11:30] toidi commented on #154
Thanks for the explanation. After reading the specification I find it makes sense.

[2021-01-01 07:22] satyajitghana commented on #132
any update/progress on this ? i've been wanting to use websockets with lambda using mangum

[2021-01-05 17:53] aksel opened #156 "[Feature Request] Support for custom loggers"
We are using the logger from [aws-lambda-powertools-python](https://awslabs.github.io/aws-lambda-powertools-python/core/logger/). It's a logging tool from AWS, that can be quite helpful when it comes to debugging, especially when using CloudWatch Log Insights.

I would like to use this logger with Mangum as well.

I was thinking the constructor could accept a `logger_class` parameter, which when s

[2021-01-07 05:04] jordaneremieff commented on #132
@satyajitghana I've note had a chance to come back around to this and likely won't for awhile, but I was thinking about how to accommodate a plugin system to more easily integrate potential solutions for this kind of thing. Once I have made any progress here I'll update the ticket.

[2021-01-07 17:21] ptrhck commented on #132
I am also interested and would like playing around with an older version. But where can I find the documentation for older versions that include the websockets info?

[2021-01-07 17:30] satyajitghana commented on #132
@ptrhck 0.9.0 had websocket support, https://github.com/jordaneremieff/mangum/tree/8de9e84bfa22f1fa45ae601b781d9f0374b01dd9 you can find the docs there

[2021-01-08 11:17] ptrhck commented on #132
Thanks! I have also found the [commit ](https://github.com/jordaneremieff/mangum/blob/bac03b7ff7f837795a35686a3954257786cac347/docs/websockets.md) before websocket was removed.

Very unfortunate that it has been removed but hopefully there will be a new project soon :-)

[2021-01-10 20:09] kmcquade commented on #39
For anyone else who runs into this issue, just to elaborate on what @TAJD said...

Using the `CORSMiddleware` class and `add_middleware` accomplishes the same that he mentioned in his comment. This is shown in this example:

https://github.com/chgangaraju/fastapi-mangum-example/blob/master/app/main.py

And shown below for your convenience, with comments.

[code]

[2021-01-19 10:07] villekr commented on #132
I would be interested to look at this in relation with https://github.com/mobilityhouse/ocpp/issues/168. However AWS API Gateway WebSockets API is not primary focus due it's incompatibility with ocpp-j endpoint format requirements. So instead custom websockets gateway will be used but the idea would be similar as with AWS API Gateway. Websocket broadcast support however is not in my interest.

I b

[2021-01-26 14:29] jordaneremieff commented on #132
@villekr

No, there weren't any specific issues in the implementation. My primary reason for removing it was that I did not have the capacity to properly support the pattern I ended up using, however, I think it is the correct solution for this problem generally. I agree a separate class would be better than trying to determine this based on the incoming event, though I haven't spent time to think

[2021-01-28 23:56] Vlad-Radz commented on #106
Hello, sorry for being inactive for some time. I finally started to improve testing code base by adding docstrings and even new test cases. Also I have an idea for some new fixtures. You can see the progress here: https://github.com/jordaneremieff/mangum/compare/main...Vlad-Radz:chore/106_improve_tests

[2021-02-01 23:13] ttamg commented on #147
Hi.

Firstly a thumbs up that I am finding the same issue here with FastAPI deployment on Lambda and then putting that behind the AWS API Gateway.  All works fine with Mangum when using custom domain without a path proxy, but when using a custom path proxy, (e.g. /custom) the application gets confused and returns 404s.

I can fix it by adding a prefix on all paths in the app, but as @chesnutcase s

[2021-02-01 23:35] ttamg commented on #147
An update.  I tested that and it works well as a workaround

1. Created a simple proxy variable `settings.PROXY_PATH` which was populated with `"/custom"`.
2. Set the `app = FastAPI(root_path=settings.PROXY_PATH)` as per the docs there.
3. For the Mangum adapter, used `handler = Mangum(app, api_gateway_base_path=settings.PROXY_PATH)`

This all worked nicely.  The issue raised by @chesnutcase on po

[2021-02-07 02:14] burritoIand opened #159 "How can I log the response?"
I'd like to log both the full request and full response.

Currently I am logging the full request by using a custom middleware as below:
[code]
How could I also log the full response back to aws?

[2021-02-08 07:14] arvindjangra1996 opened #160 "issue in reading .woff/.ttf/.woff2 (font extension) files"
Hi. There is an issue in reading font files from the AWS API gateway proxied to AWS Lambda.
It is reading it as a text file.

in protocols/http.py
body is not encoded in base64 `body = base64.b64encode(body)`
and giving error in `self.response["body"] = body.decode()`

It should return header with content-type as font/*

[2021-02-11 15:52] tuukkamustonen commented on #159
Can't you just `log.info()` whatever you need after the `response = await call_next(request)` line?

[2021-02-11 15:54] tuukkamustonen commented on #156
I'm also wondering about the logging.

You can adjust the logging level only, so does it only do this:

[code]

...or something else, too?

Not sure, but it seems that it would inject a stdout handler, too? Not sure, I need to investigate.

Would be nice to completely define (or skip) logging, and then instead manually adjust it however you want.

[2021-02-11 15:57] tuukkamustonen commented on #156
To answer myself, seems like that's exactly what it does: https://github.com/jordaneremieff/mangum/blob/main/mangum/adapter.py#L66-L67

So it doesn't inject a handler, that must come from somewhere else of my app. Sorry for noise.

But yeah, BYOL (bring your own logging :P) would be nice!

[2021-02-13 22:37] 0x2b3bfa0 commented on #160
I don't have time to devise a better way for guessing the right mime types, but managed to fix it with [a quick hack](https://github.com/0x2b3bfa0/mangum/compare/main...0x2b3bfa0:base64?expand=1) for a last-minute deployment.

[code]

I guess that, at least for this specific edge case, it would be possibe to try decoding the body to a `str` first, and, in case it raises `UnicodeDecodeError`, fallb

[2021-02-13 23:46] 0x2b3bfa0 commented on #160
I've fixed it with a quick hack, setting all the media types as binary on `serverless.yml` and [bypassing the affected logic](https://github.com/0x2b3bfa0/mangum/compare/main...0x2b3bfa0:base64?expand=1), but there must be an elegant solution.

[code]

_Since https://github.com/serverless/serverless/pull/6063 it's possible to enforce bynary media types with a custom `binaryMediaTypes` field._

[2021-02-14 14:07] koxudaxi commented on #160
Thank you for creating this issue.

Interesting.
I found the  related code
https://github.com/jordaneremieff/mangum/blob/ded6a55a3ca65c26bf9228ed8d78c2a72bb9c82b/mangum/protocols/http.py#L200-L207

We can't add all target extension in the condition.
I will think of the solution.
Also, we welcome suggestions and ideas.

[2021-02-14 14:13] koxudaxi commented on #159
@burritoIand
Did you have any updates?
I support the answer of @tuukkamustonen

[2021-02-14 14:21] koxudaxi commented on #156
I feel `aws-lambda-powertools-python` is useful-tools for Lambda.
But, I have not used the logger of `aws-lambda-powertools-python` yet.
I will confirm the behavior of it when I get the time next week.

[2021-02-14 14:36] 0x2b3bfa0 commented on #160
I'm not an expert on API Gateway, but it looks like this has something to do with the contrived rules documented here:
https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings-workflow.html
https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings.html
As a curiosity, serving a [`site.webmanifest`] file with [FastAPI Static Files](

[2021-02-14 14:42] koxudaxi commented on #160
Thank you for posting the links.
I will check it :)
Also, we need to discuss behavior when `mangum` can't detect the type.

[2021-02-18 20:16] saiprasadjnv opened #161 "How do we return a binary (.zip) file as a response from FastAPI through AWS Lambda and API Gateway?"
I am having trouble returning a binary file as a response from FastAPI through AWS Lambda and API Gateway using mangum handler.

When I try to return the below response:
{'body': base64.b64encode(content).decode('utf-8'), 'isBase64Encoded': True, 'headers': headers, 'statusCode':200}
The entire dict is received in the response body as a json object.
<img width="1030" alt="Screen Shot 2021-02-18 at

[2021-02-18 23:45] 0x2b3bfa0 commented on #161
I guess it may be somewhat related to #160, or even a duplicate.

[2021-02-23 21:11] daviwesley commented on #160
@0x2b3bfa0
what boilerplate/tools did you use to integrate mangum and serverless framework?

[2021-02-23 23:32] 0x2b3bfa0 commented on #160
@daviwesley, I wrote the boilerplate myself for an internal application; please take a look here for a bare bones example: https://github.com/0x2b3bfa0/python-xi

I don't have time to document and maintain it decently, but would be glad to merge a few solid pull requests. 😄

[2021-02-24 09:33] jordaneremieff commented on #159
Closing this for now based on the previous comments  - can reopen if the issue is deeper.

[2021-02-24 09:33] #159 closed

[2021-02-24 09:41] jordaneremieff commented on #161
@saiprasadjnv could you please add a minimal example of application code that can be used to reproduce this?

[2021-03-01 11:24] emcpow2 opened #164 "Add mangum to asgi implementations page in documentation"
https://asgi.readthedocs.io/en/latest/implementations.html

[2021-03-03 21:46] stephenbawks opened #165 "AWS Lambda - Container"
Trying out building a quick and simple app to use with the HTTP API and AWS Lambda with a container.  I can set up the app locally and hit it locally, however I am not sure if I am missing something but I cannot get it working in Lambda with a container.

Super simple main.py file that looks like the following:

[code]

With my Dockerfile it looks like the following:

[code]

I created a HTTP API

[2021-03-04 01:48] koxudaxi commented on #165
@stephenbawks
Did you create `__init__.py` in the `app` directory?
[code]
And,  I fixed your Dockerfile.
[code]
You should think about how to use poetry. this example may not best practice on poetry.
Thank you.

[2021-03-04 09:22] jordaneremieff commented on #164
If someone wants to PR the inclusion there that's fine, but this project is currently listed on https://github.com/florimondmanca/awesome-asgi which seems to have become the de-facto place for ASGI project visibility.

Also, in future please put more consideration before adding issues to the tracker. Even though I'm pretty [lax](https://github.com/jordaneremieff/mangum/blob/main/CONTRIBUTING.md#us

[2021-03-04 09:22] #164 closed

[2021-03-04 09:27] jordaneremieff commented on #165
Thanks @koxudaxi.

@stephenbawks closing this because it doesn't seem related to Mangum itself, but feel free to continue discussion if the previous comment did not clear thing things up.

[2021-03-04 09:27] #165 closed

[2021-03-10 13:48] ttamg commented on #147
I see the merged PR #162   That looks good.  Will that then resolve this issue?  I've been through the source code and it looks as though it might but I wanted to check as we probably want to update docs somewhere for the API Gateway / Mangum / FastAPI use case which is what is affected here.

The workaround I use for now that works is to hardcode in the `ROOT_PATH` both in the FastAPI `app` and t

[2021-03-10 13:50] ttamg commented on #104
I'm happy to add a section on how to use Mangum together with AWS API Gateway and FastAPI deployed via AWS Lambda.

Currently using the `ROOT_PATH` workaround but I think you may have fixed that so the documentation may be even simpler.

[2021-03-10 20:01] jordan-cote commented on #156
@koxudaxi Any updates on this?

[2021-03-11 14:42] koxudaxi commented on #156
@jordan-cote
Thank you for reminding me.
`aws_lambda_powertools.Logger` can accept custom logger name as `service` argument.
And, The logger will be created for mangum.
If `aws_lambda_powertools.Logger(service="mangum)` is called before `Mangum()` is run.
[code]

## Output
[code]

[2021-03-11 14:54] koxudaxi commented on #156
Also, We can change `log_level` by Mangum(..., log_level=<log_level>)

There is an example for `debug`.
[code]

[code]

[2021-03-13 10:41] jordaneremieff commented on #147
@ttamg how configurable would a solution here need to be? Could your middleware solution (or something similar) be used to accurately determine the correct scope keys in all cases without additional configuration/customisation?

If we can modify the adapter to handle this using a common method that is able figure out the correct path variables (and deprecate the `api_gateway_base_path` parameter)

[2021-03-16 01:03] dltacube commented on #149
Can this be closed @jordaneremieff? Does #155 address this?

[2021-03-16 22:45] four43 commented on #161
We shouldn't be guessing here. Those other conversions have to do with what the API Gateway will automatically do after you response with your content. The incoming content has the same `isBase64Encoded` flag so we don't have to guess.

https://docs.aws.amazon.com/lambda/latest/dg/services-apigateway.html

[2021-03-17 17:21] chesnutcase commented on #147
Hey all, sorry I disappeared from the discussion. Admittedly, I haven't touched FastAPI&API Gateway in a few months so I need some time to get back to speed with this issue.

The main point I had in mind when I opened this issue was to simply allow the user to customize the root path resolution **logic** (i.e. allowing the user to pass a string doesn't count). However, there are so many ways a HTT

[2021-03-19 04:39] jordaneremieff commented on #149
@dltacube I believe so. I'll look into doing a release this weekend.

[2021-03-19 11:15] bohana commented on #160
Possibly related (if you use SAM to deploy AWS API Gateway):
https://github.com/aws/serverless-application-model/issues/566

I got the binary media types defined at the gateway but still could not get the API to convert base64 -> binary on delivery...

[2021-03-19 13:16] jordaneremieff commented on #149
Released 0.11.0 with the changes included in https://github.com/jordaneremieff/mangum/pull/155. Please feel free to create a new issue if you run into problems.

[2021-03-19 13:16] #149 closed

[2021-03-19 14:42] major-mayer commented on #149
Thanks for adding this functionality :)
I'm currently not planning to deploy an python app to lambda, but when I do, this will greatly help I guess 😊

[2021-03-20 14:05] four43 commented on #161
#170 should fix this. If you return a non-text response (as described by Content-Type header, like you're doing) it will be converted from bytes -> base64, flagged as base64 and returned to your event source, API Gateway properly.

[2021-03-20 14:07] four43 commented on #160
Without a suuuuuuper concrete answer to work off of, #170 should fix this too. We're handling juggling of text and binary data better.

[2021-03-20 14:09] four43 commented on #106
Does #170 close this to your liking too? I did leave some of your old fixtures in there as to build a little confidence that I didn't totally break everything :)

[2021-03-22 14:09] tuukkamustonen commented on #156
I would much prefer if Mangum didn't adjust/interfere with logging configuration at all. You can fully adjust the logging from the outside. If Mangum does something, it needs to togglable (so one can disable it).

I wonder if https://github.com/jordaneremieff/mangum/pull/170 (that just got merged) changed the behavior regarding this. The code seems to just discard the `log_config` (and any other e

[2021-03-22 15:08] jordaneremieff commented on #106
I'm going to close this as a specific issue, but any contributions to improve the tests are always welcomed.

[2021-03-22 15:08] #106 closed

[2021-03-22 15:10] jordaneremieff commented on #160
Is anyone able to confirm if the change from @four43 (mentioned above) resolved this? I'll close this for now, but if the issue persists with the main branch changes then please comment.

[2021-03-22 15:10] #160 closed

[2021-03-22 15:10] jordaneremieff commented on #161
Closed by https://github.com/jordaneremieff/mangum/pull/170.

[2021-03-22 15:34] four43 opened #172 "Validate kwargs more strictly"
A typo that leads to no errors and unexpected functionality is bad. `kwargs` are flexible and a nice way to pass info to the handlers but the handlers should validate that a little more strictly.

@tuukkamustonen had a good idea to validate these.

https://github.com/jordaneremieff/mangum/pull/170#issuecomment-804154942

[2021-03-28 05:38] jordaneremieff commented on #132
Given the changes in https://github.com/jordaneremieff/mangum/pull/170 I think we could potentially re-add WebSockets to this project using the new pattern for implementing handlers.

Probably something like

[code]

as the entrypoint for the event handling, then what's in https://github.com/jordaneremieff/mangum/tree/broadcast can be refactored into the new event workflow.

[2021-03-29 19:55] cblegare opened #174 "[Question] Can mangum be used as an adapter for custom authorizers?"
Hello!

First, thank you for this very nice library!

I'd like to use my authentication route as an API Gateway custom authorizer.  Any hints on how this could be achieved (specifically with FastAPI)?  My main issue here is I don't know if a request path can be mapped with an auth event.

[2021-03-29 20:06] cblegare commented on #174
I've found this
https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-lambda-authorizer-input.html, seams like I could try with a `/request` path.

[2021-03-31 23:09] four43 commented on #156
@aksel, as @tuukkamustonen mentioned we now handle logging pretty minimally (on master) - just by getting the `mangum` logger and that's it. Does that make logging pluggable enough?

[2021-04-02 18:02] aksel commented on #156
Makes sense to me! :smile:

I'll close this issue, as I think it's been resolved.

[2021-04-02 18:02] #156 closed

[2021-04-07 02:11] cblegare commented on #174
Quick update here,

It seams that Mangum's plumbing for wraping my ASGI application works OK in the case of a Lambda Authorizer.  There is one quirk: response fields.

The API Gateway expects a specific json payload format from a lambda authorizer (see https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-lambda-authorizer-output.html).

I'm not done testing it yet, but the foll

[2021-04-07 13:24] cblegare opened #175 "Support payload format 2.0"
Hello! Thank you for this nice library!

As explained in AWS docs https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-lambda.html,

It seems to me that version 2.0 is not supported by Mangum

[2021-04-07 14:48] koxudaxi commented on #175
@cblegare
Did you talk about this code?
https://github.com/jordaneremieff/mangum/blob/3f312acb67aac30c07dfb305d3cd1881c59755c4/mangum/handlers/aws_http_gateway.py#L33-L41

[2021-04-09 01:47] cblegare commented on #175
@koxudaxi
Thank you for your response!

It seems I have a bug in my library update process and I was using 0.10.  I stand corrected! thank you again

[2021-04-09 01:47] #175 closed

[2021-04-09 02:18] cblegare commented on #174
Ok, I was wrong once more!

Basically, the event received from API Gateway for Lambda Authorizer is either very minimal in case of a TOKEN authorizer, or looks like a normal API Gateway event for a REQUEST authorizer.  In fact, the `AbstractHandler.from_trigger` returns an `AwsApiGateway` object, with the `path` field targeting the downstream called Lambda service.

From my understanding, there is

[2021-04-09 02:37] cblegare commented on #174
Maybe a smaller change could help in this case:

Something along those lines:

[code]

In place of:

https://github.com/jordaneremieff/mangum/blob/3f312acb67aac30c07dfb305d3cd1881c59755c4/mangum/adapter.py#L47-L73

In order to access user-provider handler factories.  Would you be interested in this?

[2021-04-09 02:44] cblegare opened #176 "Lambda Authorizer"
The event received from API Gateway for Lambda Authorizer is either very minimal in case of a TOKEN authorizer, or looks like a normal API Gateway event for a REQUEST authorizer. In fact, the `AbstractHandler.from_trigger` returns an `AwsApiGateway` object, with the path field targeting the downstream called Lambda service.

From my understanding, there is no "resource" or "path" for a Lambda Auth

[2021-04-09 02:46] cblegare opened #177 "Allow user provided handlers"
Hello there!

While investigating #176 I found it could be useful to add user provided handler factories to Mangum.  It could look like

[code]

In place of:

https://github.com/jordaneremieff/mangum/blob/3f312acb67aac30c07dfb305d3cd1881c59755c4/mangum/adapter.py#L47-L73

In order to accept user-provider handler factories.  Would you be interested in this?

[2021-04-09 02:46] cblegare commented on #174
Closing as this has drifted and is now messy, in favor of
- #176
- #177

[2021-04-09 02:46] #174 closed

[2021-04-09 03:20] cblegare commented on #174
As a side note, I might have worked around the issue with the following:

[code]

[2021-04-09 04:12] cblegare commented on #176
I've made something work for my specific use case that looks a lot like [that comment](https://github.com/jordaneremieff/mangum/issues/174#issuecomment-816373026), but it is quite hacky.  Maybe providing a simple example in the docs would be a better idea.

[2021-04-10 07:14] jordaneremieff commented on #177
@cblegare I like this idea, thanks for proposing it.

I started working on a handler for WebSockets that might impact this design, so I think after I have a chance to get the initial WebSocket handler implemented that we can see how to work in configurable handlers - there's a bit of refactoring needed first.

It might be a week or two before I can look into this further.

[2021-04-14 04:24] jurasofish opened #178 "Double url-encoding of query string with ALB"
I've found that if I send a get request to FastAPI like `GET eg.com/something?name=John+Smith` then the database query generated uses literally `John+Smith`. Same situation using `%20`.

It seems that Mangum is doing a second round of url-encoding on the query strings, so when FastAPI (or whatever might sit in the middle) decodes the query string it gets the once-encoded version back.

I'm working

[2021-04-14 15:20] Lilja opened #180 "Silencing scope error for ariadne"
Hi! Thank you for creating this framework. I'm currently using [ariadne](https://github.com/mirumee/ariadne) to manage a graphql lambda.

For every execution I get a stack trace:
[code]

However, the lambda/mangum executes as the rest of the code as usual and I have correct graphql output.

I'm not up-to-speed with asgi stuff and don't really know what this means, is there a way to silence this er

[2021-04-15 15:21] jordaneremieff commented on #180
Hello, thanks for the issue report!

This is due to the default lifespan behavior of Mangum. You can set the `Mangum(graphql_app, lifespan=off)` setting to explicitly disable lifespan to avoid this, though Mangum should probably be catching exceptions generally in these cases instead of raising.

[2021-04-15 16:35] nathanglover commented on #178
Also seeing this issue with ALB, but with the `/` character being encoded as `%252F`.

I am getting it when passing a "next" query parameter: `/login/?next=/some/redirect/path/`.

[2021-04-15 20:29] nathanglover opened #181 "Bug - handler.body returns a str resulting in TypeError: a bytes-like object is required, not 'str'"
First this bug was introduced post 0.11.0 when the handlers were refactored.

**Traceback**
[code]

---

I was able to trace the issue down to the `def body()` method in the handler classes. Adding `assert type(handler.body) == bytes` to the `_basic` tests will reveal the error.

[code]

In 0.11.0 the body was guaranteed to be bytes because of the following snippet:
[code]

For most handlers the r

[2021-04-15 20:31] nathanglover commented on #181
FYI I found this while testing a potential solution for #178 on a lambda function being served by an ALB.

[2021-04-16 00:41] jurasofish commented on #178
Very nice, any chance of a pull request?
One nitpick --`+` is actually encoded, it represents whitespace.

[2021-04-16 13:09] nathanglover commented on #178
Hey @jurasofish.

Are you referring to this part of the tests that I updated?

[code]

And yes I plan to open a PR soon. Was hoping to test the solution on my application first, haven't had the opportunity to yet. Feel free to use my fork to test within you own project as well.

[2021-04-17 05:49] #181 closed

[2021-04-17 11:14] jurasofish commented on #178
Yeah that's the bit.

It also looks like ALB lost support for multi value headers/query strings in #170 compare the [removed code](https://github.com/jordaneremieff/mangum/pull/170/files#diff-f2be8188d8c883ee01c8f4eb66255ae5a8f90c309e903f09efd9afff4c35b6d1L151-L160) with the [refactored code](https://github.com/jordaneremieff/mangum/pull/170/files#diff-475080fac363777c9675486a7523f7207155a772e28bc

[2021-04-18 00:08] nathanglover commented on #178
@jurasofish I noticed the headers issue with ALB as well while testing this. Was actually the thing that prevented me from seeing if my fix was working. I think we can open a separate issue for it. I might open a PR for it I can figure out how to fix it.

[2021-04-18 01:05] nathanglover opened #185 "0.11.0 Regression - ALB/ELB - Properly handle multiple set cookies in output when multiValueHeaders is not set"
This is a regression from 0.11.0.

The 0.11.0 ALB/ELB code handled when there were multiple set-cookies headers in the response, but multiValueHeaders was not set on the load balancer.

[code]
https://github.com/jordaneremieff/mangum/blob/0.11.0/mangum/protocols/http.py#L148-L157

Original issue in serverless-wsgi that this fix is based on: https://github.com/logandk/serverless-wsgi/issues/11.

In

[2021-04-18 02:05] jurasofish commented on #178
ah yeah looks like we're working on the same thing - I'm still working in #179
I think fundamentally here the tests for alb are very poor

[2021-04-18 05:31] jordaneremieff commented on #178
Thanks for all your efforts here! The ALB support was a fairly recent addition even prior to the refactoring, so I appreciate both of you looking into these issues.

@jurasofish in regards to the tests, were the tests for ALB prior to https://github.com/jordaneremieff/mangum/pull/170 catching these things, or did these issues exists prior? I haven't been using Mangum with ALB myself, so I've been

[2021-04-18 13:36] jurasofish commented on #178
Yeah #155 looks pretty good. From reading it, looks like it:
- performed double encoding of query params (bug)
- handled returning multi value headers and multi value query strings correctly (including detecting whether multi-value headers are enabled from the ALB input)
- tested the multi value query string/headers stuff well.

[2021-04-20 01:51] #185 closed

[2021-04-21 16:04] brolewis commented on #160
@jordaneremieff As some that was having problem with fonts on `0.11.0`, I can confirm that @four43's fix does indeed fix the error. In that vein, if a new release could be cut as well, I would be grateful.

[2021-04-22 13:02] nathanglover commented on #178
@jordaneremieff I think this can be closed now? Since you merged #184

[2021-04-23 01:20] jurasofish commented on #178
closed by #184

[2021-04-23 01:20] #178 closed

[2021-04-27 05:20] federicodv commented on #39
i'm having same issue and is impossible to find a working example with an updated version
i.e:
serverless invoke local --function app
[code]

[2021-05-07 22:42] toxygene opened #188 "Request body empty in FastAPI app that mounts Flask app"
Using Serverless, I'm deploying a FastAPI app to Lambda. The FastAPI app simply mounts a Flask app with a single POST route. When I try to access the request data, it's empty (`b''`) instead of what was submitted.

[code]

[code]

If I run this code via uvicorn, the request body is correct.

[code]

[2021-05-08 04:58] jordaneremieff commented on #160
@brolewis thank you for confirming. I wanted to go through all the new ALB behavior that was merged in a few weeks ago before the next release. - I'll try to do one soon.

[2021-05-08 16:27] toxygene commented on #188
After further investigation, this appears to be a duplicate of #143.

[2021-05-08 16:27] #188 closed

[2021-06-08 01:08] eduardovra commented on #132
Is anyone working on this? It's is a nice feature and I have an interest in helping out. I can provide an initial PR and upon @jordaneremieff validation, we iterate to the final solution. What do you think?

[2021-06-08 18:00] koxudaxi commented on #132
@eduardovra
Thank you for your great suggestion :tada:
I have not worked on the feature, because I have not got the time :cry:

If you create the PR following @jordaneremieff's idea then we will review it :+1:

[2021-06-10 23:43] eduardovra commented on #132
Hi, I've created the draft PR (#190) and left a few questions. This is my first attempt to contribute to the project and any help will be much appreciated.

[2021-06-28 23:11] brymon68 opened #191 "Issue calling SNS topic from handler wrapped by Mangum - KeyError: 'requestContext'"
I am using Fast API with Mangum.  My entrypoint looks like:

[code]

[code]

And the lambda that subscribes to the SNS topic:

[code]

I am receiving the following error:

[code]

Is there any way to avoid this?

[2021-06-29 17:54] brymon68 commented on #191
Closing issue. I am dumb and had a duplicate SNS subscription. Resolving

[2021-06-29 17:54] #191 closed

[2021-07-07 11:40] techish commented on #132
@jordaneremieff when will @eduardovra's PR be accepted? I am desperately waiting for this as I need to run my Django application with websocket endpoints on AWS Lambda and API Gateway.

[2021-07-08 01:31] jordaneremieff commented on #132
@techish I have some review comments on that PR to be resolved then I will merge. The only thing really missing atm is a minimal example that can be included in documentation that I can test in a deployment before I merge, though I might just push this myself when I have time later if becomes a potential blocker to merging the changes.

[2021-07-08 14:33] ptrhck commented on #132
Once merged, could you share some example code how you have deployed Django? I am very interested in following this approach and will contribute if I can!

[2021-07-12 03:48] jordaneremieff commented on #132
This has been merged (thanks @eduardovra!), though I need to do a few things to prepare for the release and will close this ticket once it's out (probably later this week). In the meantime, if anyone decides to try this out directly from the `main` branch and encounters any problems please report back on this issue.

[2021-07-16 18:14] jordaneremieff commented on #132
This has been released in 0.12.0. Please open a new issue for further discussion/issue reports.

[2021-07-16 18:14] #132 closed

[2021-07-19 14:40] IlyaSukhanov opened #193 "Mangum 0.12 regression: Unable to determine handler from trigger event"
A lambda invoke call against mangum 0.11 works fine but with upgrade to version 0.12 same call fails with:

[ERROR] TypeError: Unable to determine handler from trigger event
Traceback (most recent call last):
  File "/var/task/mangum/adapter.py", line 86, in __call__
    handler = AbstractHandler.from_trigger(
  File "/var/task/mangum/handlers/abstract_handler.py", line 113, in from_trigger
    ra

[2021-07-19 14:53] erictwalker18 opened #194 "Mangum: 0.12.0 tests folder in pip"
There's now a `tests` folder in the most recent release of mangum. Is this intended or is there a way to avoid it?

[2021-07-19 18:36] luizsfer commented on #193
I have same problem from @IlyaSukhanov

`[ERROR] TypeError: Unable to determine handler from trigger event
Traceback (most recent call last):
  File "/var/task/mangum/adapter.py", line 86, in __call__
    handler = AbstractHandler.from_trigger(
  File "/var/task/mangum/handlers/abstract_handler.py", line 113, in from_trigger
    raise TypeError("Unable to determine handler from trigger event")`

I

[2021-07-20 03:05] jordaneremieff commented on #193
Hi @IlyaSukhanov and @luizsfer,

Could you provide more details about your configurations? Specifically, are you using HTTP or API Gateway?

[2021-07-20 04:23] IlyaSukhanov commented on #193
Hello @jordaneremieff

My particular use case is not exactly standard. I'm emulating API Gateway Rest API as a proxy integration.  This is based of [lambda proxy integrations](https://docs.aws.amazon.com/apigateway/latest/developerguide/set-up-lambda-proxy-integrations.html#api-gateway-simple-proxy-for-lambda-input-format) document, for reference [my implementation](https://github.com/IlyaSukhanov

[2021-07-20 16:38] charlax opened #195 "Argument "log_level" to "Mangum" has incompatible type "str"; expected "Dict[str, Any]" (Mangum 0.12)"
I'm noticing the following regression with Mangum 0.12 and mypy (0.11 works fine):

[code]

With 0.12:

[code]

No error with 0.11

Using mypy 0.910 (latest as of writing)

[2021-07-20 16:46] charlax commented on #195
It looks like this option is not used anymore, perhaps it should be added as a (minor) breaking change to the docs, and removed from `docs/adapter.md`?

[2021-07-21 01:00] jordaneremieff commented on #195
Yep that's been removed and logging is no longer configured in Mangum itself - docs need an update.

[2021-07-21 01:01] jordaneremieff commented on #193
@luizsfer is your issue similar or should I close this off?

[2021-07-22 15:06] rpf3 opened #196 "boto3 requirement"
I'm trying to use Mangum in my project and running across an error that seems to have to do with a missing boto3 requirement.  When I run the following code:

[code]

I get the following error:

The stack trace is pointing to this line of code:

https://github.com/jordaneremieff/mangum/blob/1f543bce883890f6d2487bd141e3f735f4e8ca56/mangum/backends/__init__.py#L14

If I simply add boto3 as a depende

[2021-07-23 13:34] jordaneremieff commented on #196
Hi @rpf3, thanks for the report. I've released 0.12.1 to remove this requirement.

[2021-07-23 13:34] #196 closed

[2021-07-29 17:39] jordaneremieff commented on #194
@erictwalker18 the tests folder would have been included in previous releases, it is not excluded from the package. I think you will need to handle this in your configuration to exclude the tests folder.

[2021-07-29 17:40] jordaneremieff commented on #193
I will close this unless someone else confirms this is a widespread issue for common deployments.

[2021-07-29 17:40] #193 closed

[2021-08-09 22:43] bradsbrown commented on #194
@jordaneremieff I know this issue is closed, but I'm seeing the same and hitting a problem due to it. I've attached screenshots where I downloaded both v0.11.0 and v0.12.1 directly from the PyPI UI to compare, and you'll notice that v0.12.1 has a `tests` dir at the top level that isn't in v0.11.0, so something appears to have changed in the packaging setup.
![CleanShot 2021-08-09 at 17 38 01](http

[2021-08-10 10:19] jordaneremieff commented on #194
Thanks for the additional confirmation. I am unable to look into this atm, but to my knowledge nothing has changed to the packaging setup.

I’ll reopen this, if anyone can determine the specifics I will merge/release the fix.

[2021-08-10 13:26] bradsbrown commented on #194
@jordaneremieff I pushed a PR this morning that should address the issue.

[2021-08-11 05:31] #194 closed

[2021-08-11 05:43] jordaneremieff commented on #195
Updated.

[2021-08-11 05:43] #195 closed

[2021-08-11 05:48] jordaneremieff commented on #194
Thanks @bradsbrown. Released in 0.12.2.

[2021-09-02 10:30] antdking commented on #143
This is still in our internal issue tracker, however during the porting, we implemented a small hack to patch the functionality.

This is only tested with Flask/Werkzeug 1.x, so your mileage may vary:

[code]

[2021-09-17 14:08] bafonso commented on #147
I have not extensively tested this approach but this seems to work with stage link (ie, /prod) and custom domain mapped to a path.

[code]

[2021-09-21 08:12] matthieudesprez opened #201 "mypy - Argument "api_gateway_base_path" to "Mangum" has incompatible type "str"; expected "Dict[str, Any]""
I upgraded from 0.10.0 to 0.12.2 and now I got this error from mypy

From what I see it must come from #170 and now mypy doesn't have any way to tell that it can accept an argument named api_gateway_base_path

[2021-09-30 17:53] amieka opened #202 "Allow Mangum to remove certain aws reponse headers from api gateway response"
Problem:
Currently `Mangum` injects the following headers in the api gateway response for an aws lambda integration

[code]

This exposes additional information that the client doesn't need to know.

Proposal:

Allow Mangum to take optional parameter say `exclude_header_keys=[]` at the application mounting step.

An Example of that would look like.

[code]

[2021-10-05 07:56] xpayn opened #203 "AwsHttpGateway does not support api_gateway_base_path"
there's no reference to api_gateway_base_path in aws_http_gateway.py

It used to work in 0.11 and I think it was forgotten in the refactoring for 0.12

It should be a simple fix, I'll try to submit a PR

[2021-10-06 10:32] #203 closed

[2021-10-17 10:05] jordaneremieff commented on #202
Hi @amieka,

I've given this some thought and decided it should okay to include this new parameter - let's go with a new parameter named `exclude_headers`.

Would you be able to create a PR?

[2021-10-26 04:03] dovedevic opened #205 "Mock AWS Gateway Response back into Mangum"
I am writing an application that has a method that takes up to 3 minutes to complete. Because of APIGateway's limitations on the maximum allowed lifetime of lambda invocations, I've opted to architect the following workaround:

When the method is called, call a separate lambda asynchronously to perform the task, give it an ID, and return the ID to the user to later fetch results.

When I transferr

[2021-11-03 01:05] DanLipsitt commented on #201
To reproduce:

**example.py**:
[code]

[code]

[2021-11-09 01:43] erichonkanen commented on #159
hey @tuukkamustonen @koxudaxi @jordaneremieff I just got back to this and the problem is that unlike the request, the response does not have a `scope` or any other information other than the status code.
[code]

[2021-11-20 00:20] romcab opened #206 "ALB Triggered Lambda"
Question:

Is there a plan to support ALB triggered lambda? would like to convert flask using fastapi due to performance.

[2021-11-25 13:18] richieadler commented on #206
I would also be interested in this possibility.

[2021-11-25 17:28] NicoLivesey opened #207 "Corrupted Multipart when receiving pdf file on lambda"
Hi i am trying to push an api using fastapi and mangum on lambda. This api is supposed to receive a multipart body as the code shows.

[code]

At first I thought everything was working fine but everytime I receive an empty result, it was looking like the pdf file uploaded was empty. In my process I transform the pdf file into multiple Image array.

`np.array(pdf2image.convert_from_bytes(file.file.

[2021-11-29 10:51] NicoLivesey commented on #207
A little update, I tried these stackoverflow solutions but it didn't fix the problem yet.

https://stackoverflow.com/questions/60310267/aws-lambda-and-s3-uploaded-pdf-file-is-blank?rq=1
https://stackoverflow.com/questions/54610903/how-to-create-an-aws-lambda-api-gateway-python-function-that-takes-a-pdf-file-as

[2021-11-29 16:38] NicoLivesey commented on #207
Ok so after exploring all the API Gateway configurations (don't forget to enable binaryMediaContent for `application/pdf` and `multipart/form-data`), I restarted with a fresh gateway and by pure randomness I allowed more permission to the lambda and it did the work... AWS magic

[2021-11-29 16:38] #207 closed

[2021-12-06 13:30] dimaqq opened #208 "Q: will Mangum run lifespan multiple times?"
I'm trying to run fastapi app with custom lifespan-aware middleware.
It works fine under `uvicorn`, but fails oddly under `mangum`.

The error is:

[code]

(That's Py 3.10 error, the exception is a bit misleading: https://bugs.python.org/issue45996)

The cause is that my middleware accepts an instance of an `asynccontextmanager`, and it runs `__aenter__` on `lifespan.startup`
and `__aexit__` on `l

[2021-12-08 20:49] kevinmic opened #210 "Improve Access Logs"
We are moving some of our django applications to run inside a lambda. When we did so we lost access logs and gained logs that don't have much information. It would be useful if the Mangum Request/Response had additional log information or a mechanism was added to make logging access logs easy.

Example.  WSGI access logs
[code]

Mangum Access Logs for the same thing
[code]

[2021-12-09 12:05] jordaneremieff commented on #210
Yep, good point. The existing logs were mostly to assist with the initial development of the ASGI event flow (debugging really), but otherwise they are not particularly insightful.

Do you have any ideas for how to approach this?

[2021-12-09 12:13] jordaneremieff commented on #208
The startup and shutdown events are only expected to run once.

How are you running Mangum using 3.10? It currently only supports the latest Python version that AWS Lambda supports (3.9).

I’ll move this to discussions because it doesn’t seem like a bug specifically in Mangum at this point.

[2021-12-09 12:16] jordaneremieff commented on #206
Could you provide more detail on what you would like to see here and what would be required? There are no plans for this currently, but happy to consider any proposals with sufficient detail.

[2021-12-19 14:33] santosh opened #212 "How does Lambda maintains the state of the application?"
My question is more about Lambda and less about Mangum itself. I have been lately struggling with this.

So Lambda invokes a chunk of code every time it is invoked. And Mangum makes it possible to route multiple paths to same Lambda instead of per lambda per route.

My question is.. **Is the FastAPI server always running in the background between the invocation of Lambda? Or it is started every ti

[2021-12-22 00:25] dgilmanAIDENTIFIED commented on #143
I'm having success with just intercepting the Lambda payload before it makes it to Mangum:

[code]

[2022-01-09 18:43] IlyaSukhanov opened #215 "Lost response cookies on AWS HTTP Gateway with v2.0 payload."
When responding with multiple cookies over AWS HTTP Gateway v2.0 the cookies get lost. This is because Mangum packs them into multiValueHeaders which are no longer supported in v2.0. The new specification [[1]](https://aws.amazon.com/blogs/compute/building-better-apis-http-apis-now-generally-available/) [[2]](https://medium.com/@lancers/amazon-api-gateway-explaining-lambda-payload-version-2-0-in-h

[2022-01-10 01:35] relsunkaev commented on #201
[Relevant PEP 484 section](https://www.python.org/dev/peps/pep-0484/#arbitrary-argument-lists-and-default-argument-values)

[2022-01-10 02:53] VictorBac opened #217 "errorMessage: Unable to determine handler from trigger event"
Hey guys,

I am trying to build d coker iamge to deploy on aws lambda following the doc and:
https://docs.aws.amazon.com/lambda/latest/dg/images-create.html#images-create-from-base
https://docs.aws.amazon.com/lambda/latest/dg/python-image.html#python-image-base

My Dockerfile:
[code]

requirement.txt:
[code]

app.py:
[code]

then:
[code]

But when I try to query locally (following the doc):
[code]

[2022-01-10 14:56] VictorBac opened #219 "errorMessage: Unable to determine handler from trigger event"
Hey guys,

I am trying to build d coker iamge to deploy on aws lambda following the doc and:
https://docs.aws.amazon.com/lambda/latest/dg/images-create.html#images-create-from-base
https://docs.aws.amazon.com/lambda/latest/dg/python-image.html#python-image-base

My Dockerfile:
[code]

requirement.txt:
[code]

app.py:
[code]

then:
[code]

But when I try to query locally (following the doc):
[code]

[2022-01-10 18:18] jordaneremieff commented on #219
@VictorBac please do not re-open closed issues. This has been moved to Discussions.

[2022-01-10 18:18] #219 closed

[2022-01-10 21:00] VictorBac commented on #219
I thought I made a mistake and created a discussion when I wanted to create an issue. But was it you who moved it ?

Maybe you're right, it's better to create a discussion

[2022-01-13 10:15] saharavishag commented on #39
Experiencing the same issue :( @federicodv Did you manage to resolve it somehow?

[2022-01-14 03:44] jordaneremieff commented on #215
Closed by https://github.com/jordaneremieff/mangum/pull/216

[2022-01-14 03:44] #215 closed

[2022-01-17 21:27] guaccc commented on #210
@kevinmic have you tried logging the raw lambda request via `aws.event`?

## request
[code]

Unfortunately for logging the response with body etc I've been having more of a challenge and certainly wish there was a built-in way to easily access it...
https://github.com/encode/starlette/issues/874
https://stackoverflow.com/questions/64115628/get-starlette-request-body-in-the-middleware-context

[2022-01-18 04:18] kevinmic commented on #210
Sorry, I moved companies and so I am not using this currently. We looked at a number of options and had work arounds. It would simply have been convient to be able to configure it directly.

[2022-01-18 19:37] guaccc commented on #210
@kevinmic agree it'd be nice w/o wrangling a bit..

[2022-01-19 21:32] zlalvani opened #222 "Support aws-lambda-powertools-python Tracer.capture_lambda_handler decorator"
[aws-lambda-powertools-python](https://github.com/awslabs/aws-lambda-powertools-python) has a lambda tracing library in its `tracing` module, which provides a decorator intended to be used on lambda handler functions:

[code]

However, it expects the callable it wraps to have a `__name__` attribute, as we can see inside of the `capture_lambda_handler` code:

```lambda_handler_name = lambda_handler

[2022-01-20 02:15] jordaneremieff commented on #222
Hey @zlalvani, I understand the gist of the issue here, thanks for the detailed description - let’s explore the options here.

To start, can you provide any info on if this is a significant limitation of Mangum/something atypical of similar libraries, or is the tracing behaviour of the powertools lib doing anything particularly “special” that might be better accommodated without modifying Mangum i

[2022-01-20 02:21] jordaneremieff commented on #222
@zlalvani would implementing the handler as a function and returning the Mangum callable work here?

[2022-01-20 07:08] jordaneremieff commented on #205
Hi @dovedevic, I'll need to know more about what your handler and deployment configuration looks like to understand if this is an issue in Mangum or FastAPI, or potentially something specific to your implementation/deployment configuration.

Could you post a minimal example demonstrating a handler function and invocation method(s) to reproduce this?

[2022-01-20 07:24] jordaneremieff commented on #172
I've decided that we should avoid using `kwargs` for passing any information to a specific handler's constructor. This is prompted by https://github.com/jordaneremieff/mangum/pull/220 where I've requested `handler_kwargs` and `kwargs` be removed in favor of specific set of keyword arguments that are always available on the adapter and simply ignored in the case that the handler determined by the r

[2022-01-20 07:24] #172 closed

[2022-01-20 23:11] zlalvani commented on #222
I can define a handler function like that, though I wasn't sure if that's the intended solution for situations like this.

I'm not sure if there's actually a defined specification that must be met for the `Callable` type besides implementing `__call__`. The builtin `callable()` returns True for Mangum objects, so I think it's safe to assume it meets the specification. However, if it turns out that

[2022-01-21 10:58] jordaneremieff commented on #222
I think you're right. The best solution at this point seems to be the workaround and to discuss it further with that project. I'll close for now, but if it's later determined that we're incorrect about the `Callable` type, then feel free to reopen and we can look at resolving it here.

[2022-01-21 10:58] #222 closed

[2022-01-22 11:14] #201 closed

[2022-01-27 18:26] aminalaee commented on #210
@jordaneremieff I can help with this. Is it clear what needs to be done here? I mean is it just the log information to be changed? Can that be a good start?

[2022-01-27 22:35] hoIIer commented on #210
@aminalaee the request data is already available via `request.scope.get('aws.event')`, the response data just has to be parsed out... if it were available already that would be one step less for the end user

[2022-01-31 10:10] himalacharya opened #226 "MongoDB connections from AWS Lambda using mangum as adapter"
[code]
With reference to example, I have used in my project. For my project, I am using MongoDb but faces new connection for every time lambda function is invoked. I looked in Mongodb documentation (https://docs.atlas.mongodb.com/best-practices-connecting-from-aws-lambda/) that connection to Mongodb server should be outside lambda function.

Using example provided in documentation how to define cl

[2022-02-02 14:45] CNLHC opened #228 "Will this project accept PR for supporting another vendor apart from AWS?"
I was trying to use ASGI in `aliyun fc`, a serverless service that is similar to `aws lambda`, and found this library.

it seems that `Mangum` only supports `aws` for now. Will this project accept PR for supporting another vendor apart from AWS?

[2022-02-04 12:18] dmzio commented on #206
I assume it's about https://docs.aws.amazon.com/lambda/latest/dg/services-alb.html - to allow this wrapper to handle ALB-specific events. There's similar project for WSGI, which does so - https://github.com/adamchainz/apig-wsgi

[2022-02-08 08:48] aminalaee commented on #210
@hoIIer After taking a look at Nginx and Gunicorn logs, I don't think we need to log request/response body. What they do is that log only when sending response with information about that.
I did the same here but if you have any feedback please review that PR.

[2022-02-08 13:16] aminalaee opened #231 "Organising larger serverless applications"
Hey,
First off I wanted to thank you for the great library and the effort behind it.

This might be more of a question than an issue,
Based on the examples I've seen in the docs we pass the whole application inside the `Mangum` adapter. Like:

[code]

Well this is one convention and works for some projects. For larger projects it makes sense to split the backend into services/functions and let the

[2022-02-08 18:57] hoIIer commented on #210
@aminalaee yeah I mean the request body is already available via request.scope['aws.event'], the body has to be parsed out as above. It'd be more convenient to have them both available e.g. request.body, response.body, but doesn't necessarily have to be built in.

It's helpful for full req/resp logging which e.g. I'm using for backend analytics

[2022-02-09 12:54] jordaneremieff commented on #228
Hi @CNLHC, not currently, but this has been something that I've gone back and forth on in the past. I'll leave this issue open for now to see where things are at after I move WebSocket support into a separate repo, but please do not put effort into a PR until I update this issue to state definitively whether or not other vendors will be supported.

Personally I'd like to see Mangum support multipl

[2022-02-09 13:01] jordaneremieff opened #233 "Move WebSocket support into a separate repo"
I opened a discussion [here](https://github.com/jordaneremieff/mangum/discussions/225) to determine the current usage of the WebSocket support in Mangum. Based on the feedback (and lack thereof), I've decided that the WebSocket support will be extracted into a separate library and focus this one on supporting HTTP.

This will make maintaining the project much easier for me and provide a better exp

[2022-02-12 10:52] apptechxonia commented on #91
`if event.get('warmer'):`

Is this 'warmer' name of AWS EventBridge Rule name? My rule name in AWS eventbridge is warmer_test . Do I replace with
[code]
When I check Lambda logs in Cloudwatch I dont see "inside warmer" printed. In other cases, print text is found in lambda logs

[2022-02-12 12:58] jordaneremieff commented on #233
Given how there has still yet to be any interest expressed in this, I think I'll just leave it to others to pick up WebSockets and support it if they wish after it's removed. I don't have a personal interest in using or maintaining at this point.

The git history is there for anyone that wants to pull it out.

[2022-02-12 13:39] #233 closed

[2022-02-12 14:22] jordaneremieff commented on #206
@dmzio I think you're right. I think I will close this since it appears that the issue refers to the ALB support that was added relatively recently.

[2022-02-12 14:22] #206 closed

[2022-02-13 11:32] #210 closed

[2022-02-13 14:04] dsmurrell opened #236 "[Question] How to get logs like Zappa"
Hi there

I followed this tutorial to get FastAPI up into a Lambda function: https://adem.sh/blog/tutorial-fastapi-aws-lambda-serverless

It seems to be working, but when I tail the logs (`sls logs --function app --stage test`), I see my 'hello' INFO log in there, but it's enclosed in a large block of other logging. It looks like the following:

[code]

What would I need to do to tail nice coloure

[2022-02-15 18:45] ArtemSam23 opened #237 "Unable to determine handler from trigger event"
I made a project with python package and only main.py with the Hello World get request from magnum docs. Then I made a deploy from GitHub actions. Then I tested api gateway and get this error:
[code]
I've been trying to solve this problem, but nothing really worked.
This is my [project](https://github.com/ArtemSam23/AWS-FastApi/tree/develop) check develop branch

[2022-02-23 09:20] ShedPlant opened #238 "api_gateway_base_path not supported for ALB?"
# Summary
- Mangum supports events from AWS API Gateway and AWS ALB.
- Mangum has a `api_gateway_base_path` argument to strip the prefix of the http path before passing to the underlying app
- `api_gateway_base_path` works as expected for API Gateway events
- As far as I can tell, `api_gateway_base_path` does _not_ work for ALB events.

I looked at https://mangum.io/http/ and the GitHub issues and

[2022-02-26 17:21] jordaneremieff commented on #177
I've introduced this provisionally in a recent PR using a method similar to what you've demonstrated. It's provisional/undocumented, but you can find an example in https://github.com/jordaneremieff/mangum/blob/main/tests/handlers/test_custom.py. I'm not sure how this will ultimately end up, so I'll leave this issue open for discussion/until I'm sure whether or not to support this going forward.

[2022-03-01 22:25] vincentsarago opened #243 "0.13 breaks `lifespan` behaviour"
First reported in https://github.com/developmentseed/eoAPI/issues/34

When using the latest mangum release `0.13` it seems that my `Life Cycle Hooks` are ran before the handler. I have a limited knowledge in ASGI so I'm sorry if I'm not explaining the issue the best way.

👇 Here is the minimal application which I used to reproduce the issue.

[code]

☝️ this simple app return `In` for mangum=0.12.

[2022-03-02 11:10] jordaneremieff commented on #243
Hi @vincentsarago, thanks for all the details.

I had suspected this might be the case because in my previous refactoring I had moved the handler call out of the context manager for lifespan mistakenly, though was not sure if this was actually a breaking change when I realised it initially.

Could you test your app using the code currently in the `main` branch? If that resolves it then I'll do a r

[2022-03-02 11:25] vincentsarago commented on #243
@jordaneremieff 🙏 using `main` works.

fixed in https://github.com/jordaneremieff/mangum/commit/7ee6846f2c90815dd7d1e12607e8226bbb0058d9

[2022-03-02 11:25] #243 closed

[2022-03-02 12:35] jordaneremieff commented on #238
@ShedPlant

I'm not sure if it is intentional or not. API Gateway was originally the only supported event source and ALB support came long after the `api_gateway_base_path` setting as included, so it's possible that those contributors of the ALB support assumed to ignore the setting due to the `api_gateway_*` prefix in the setting name.

Should we replace `api_gateway_base_path` with a single `bas

[2022-03-02 13:02] ShedPlant commented on #238
@jordaneremieff

Thanks for your reply.
That sounds right to me.

[2022-03-03 11:14] jordaneremieff commented on #237
Hi, please see https://github.com/jordaneremieff/mangum/discussions/218. This is likely related to the data you are including when invoking your lambda function.

[2022-03-03 11:14] #237 closed

[2022-03-03 11:16] jordaneremieff commented on #236
Hi @dsmurrell, there has been some minor improvements to the logging since this issue was created, however the type of functionality you are requesting would need to be investigated and built.

How is this handled in Zappa?

[2022-03-03 11:37] dsmurrell commented on #236
Hi Jordan

Thanks for getting back.

https://github.com/zappa/Zappa#tailing-logs

These are some of the use cases they allow.

This is an example from our production on what the logs look like:

[image: Screenshot 2022-03-03 at 11.28.55.png]

and when there is an error you can also see it output here.

What is your current best way of viewing the logs of the API that's put up
onto a lambda?

Kind

[2022-03-03 15:25] dsmurrell commented on #236
Hi @jordaneremieff

https://github.com/zappa/Zappa#tailing-logs

These are some of the use cases they allow.

I'm not quite sure how they handle it internally through zappa, only that the logs appear on your console like the following when you tail them. When there is an error you also see that come up in the logs with the full stack trace.

<img width="1509" alt="Screenshot 2022-03-03 at 11 28 55

[2022-03-04 14:23] jordaneremieff commented on #236
Hi @dsmurrell, so it looks like Zappa provides a fairly extensive CLI to support log tailing which I would not consider including Mangum at this time. However, this does not mean you would not be able to support this yourself with a Mangum deployment. I'd be happy to review any pull requests that aim to improve the logging that exists in Mangum itself, but I do not have the capacity as an individu

[2022-03-04 14:23] #236 closed

[2022-03-04 14:45] dsmurrell commented on #236
That makes sense if it's a lot of work, but what is your personal approach to viewing logs of an API that you put into a Lambda using Mangum?

[2022-03-05 04:39] jordaneremieff commented on #236
@dsmurrell I'll convert this to a discussion because others may be able to assist you better. My personal usage of Mangum over the last couple years has been infrequent and mainly for sharing quick prototypes, so the logging implementation has not been a priority of mine.

I attempted a [CLI](https://github.com/jordaneremieff/mangum-cli) solution a few years ago to provide something similar to Zap

[2022-03-07 04:44] fraser-langton opened #245 "python_requires does not match required python version (>=3.7)"
Newest release should have `python_requires=">=3.7"` in setup.py

[2022-03-07 11:47] jordaneremieff commented on #245
Closed by https://github.com/jordaneremieff/mangum/pull/246

[2022-03-07 11:47] #245 closed

[2022-03-07 14:18] ImreC opened #247 "Plugging FastAPI into Mangum raises mypy type checking error"
I am trying to use Magnum in combination with FastAPI, but when I type check with mypy, I get the following error:

[code]
It seems that the types are defined in an incompatible way. Is this known and is there any way to resolve this? I came across https://github.com/jordaneremieff/mangum-examples/issues/2 so this seems fixed two years ago, but can't get the type check to succeed currently. What a

[2022-03-07 15:15] apptechxonia opened #248 "Create global variables or create db connection out of any function"
With reference to documentation example, I want to connect lambda with Mongodb ,

[code]

But every API request initiate new DB connection. How to cache or reuse Mongodb connection using Mangum ?

[2022-03-12 15:04] jordaneremieff commented on #247
I added more specific annotations recently. I'll have a look at this when I get a chance.

[2022-03-13 02:26] apptechxonia opened #250 "Caching data outside Lambda handler"
How to cache data  outside this  handler function?

[2022-03-16 21:16] benharris-conversica opened #252 "Option to disable websockets? (Websocket protocol import is slow)"
I was doing some profiling to try to speed up my lambda cold starts when I noticed `mangum.protocols.websockets` is taking up the majority of the import time for Mangum (0.25s / 0.4s total on my system, see below for details). I'd like to be able to disable this import to speed things up. Is it possible to do something like https://github.com/jordaneremieff/mangum/pull/197 to make websocket suppor

[2022-03-17 02:48] jordaneremieff commented on #252
@benharris-conversica websocket support was removed. You can upgrade your version to avoid this.

[2022-03-17 17:01] benharris-conversica commented on #252
Whoops, I was looking on the releases page on https://mangum.io/, didn't realize there was a newer version. I can confirm this fixes the issue for me, mangum loads 2x faster in the latest version:

![image](https://user-images.githubusercontent.com/42979826/158854040-a1921e15-0cb0-453e-87ba-cf663c44e725.png)

[2022-03-17 17:01] #252 closed

[2022-03-19 16:39] jrobbins-LiveData opened #253 "Question about custom event handling"
The Mangum [doc](https://mangum.io/adapter/) shows this example of how one might handle a custom event:

[code]

I need to handle an incoming AWS EventBridge event.  I want to invoke the same method that my HTTP API handler is also invoking -- and it is an async method.

Here's what I am using

[code]

My question(s):  Is this the correct pattern to use?  In the Mangum [source](https://github.com/

[2022-03-23 19:06] relsunkaev commented on #247
It's the `TypedDict` usage. `MutableMapping` (what Starlette uses for its `Scope` and `Message` types) is not compatible with any `TypedDict`. Only `Mapping[str, Any]` and `Mapping[str, object]` are compatible with `TypedDict`.

There is currently [a PR](https://github.com/encode/starlette/pull/1374) for Starlette to switch to [asgiref](https://github.com/django/asgiref/tree/main/asgiref) for typi

[2022-03-25 11:54] jordaneremieff commented on #247
What are the options here?

Ideally that MR to Starlette would be merged and ultimately picked up in FastAPI because the more specific types provide more useful information. However, given that most users of Mangum are likely using one of these libraries then I'd be open to a PR reverting to the original types to support them specifically, though I'd prefer if there was some way to workaround this

[2022-04-12 14:19] lopesjeronimo opened #254 "Lambda Function URLs"
It's not a issue, just a testimonial.

I've just made a very simple "hello world" using FastAPI, Mangum and Serverless with new recently launched AWS Lambda Function URLs.

It worked like a charm.

[2022-04-14 10:45] jordaneremieff commented on #254
Always nice to hear about how it's being used. :)

Was not aware of AWS Lambda Function URLs, interesting!

[2022-04-14 10:45] #254 closed, assigned to nobody

[2022-04-17 13:17] dorinclisu opened #258 "Support lambda function url"
Starting with April 2022, AWS supports a new and simplified way of using your lambda function as an API. https://docs.aws.amazon.com/lambda/latest/dg/lambda-urls.html

I think it should be possible to adapt mangum to support the specific event mapping for function url.

[2022-04-23 14:20] jordaneremieff commented on #247
I think I will go ahead and just relax the annotations here. I'm noticing that the `Lifespan` scope is conflicting with the `HTTPScope` when accessing it in the application.

[2022-04-23 21:27] jordaneremieff commented on #247
Changed in https://github.com/jordaneremieff/mangum/pull/259

[2022-04-23 21:27] #247 closed

[2022-04-24 06:45] jordaneremieff commented on #258
As far as I can tell so far there shouldn't be anything specific required, according to https://docs.aws.amazon.com/lambda/latest/dg/urls-invocation.html:

Assuming this just works with the current handler without adjustments, then I think only the documentation and handler naming/comments might need to be updated.

Or is the something I am missing that would require a unique handler?

[2022-04-25 13:47] jordaneremieff commented on #258
It seems to be working fine with the HTTP API handler from my testing. Let me know if you run into issues.

[2022-04-25 13:47] #258 closed

[2022-04-26 04:36] jordaneremieff opened #260 "Multiple event loops in custom handlers"
### Discussed in https://github.com/jordaneremieff/mangum/discussions/256

<div type='discussions-op-text'>

<sup>Originally posted by **jrobbins-LiveData** March 20, 2022</sup>
The Mangum [doc](https://mangum.io/adapter/) shows this example of how one might handle a custom event:

[code]

I need to handle an incoming AWS EventBridge event.  I want to invoke the same method that my HTTP API handle

[2022-04-26 18:25] jrobbins-LiveData commented on #260
To be clear, in the simplest case of a Lambda function with a Mangum-based app (e.g. using `FastAPI`), there only needs to be one event loop, not multiple event loops.  The only issue is making it explicit as to whom is responsible for creating the asyncio event loop.  The [discussion ](https://github.com/jordaneremieff/mangum/discussions/256) has details of how we might address this.

[2022-05-05 23:03] UnderSampled opened #262 "Overwriting read-only Lambda@Edge headers"
Hooking up a Mangum lambda to CloudFront as `EventType: origin-request` returns a 502 response: "The Lambda function result failed validation: The function tried to add, delete, or change a read-only header."

According to [the documentation](https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/edge-functions-restrictions.html), the `Content-Length` Header is one of the read-only hea

[2022-05-10 12:25] jordaneremieff commented on #262
Thanks @UnderSampled for the report and example workaround. I won't be able to look into it myself at this time, but I would be willing to review and merge any PRs to address these rules in the handler itself.

[2022-05-14 17:15] dovedevic commented on #205
Super late on the followup, but I spent a few afternoons digging around both Mangum and FastAPI code to realize that when calling this method, the `context["path"]` and `context['requestContext']['path']` was not including a trailing slash, when my FastAPI configuration was not configured to automatically redirect. Updating this fixed the issue.

I still believe additional logging (at the DEBUG le

[2022-05-14 17:15] #205 closed

[2022-06-24 19:09] Fak3 opened #264 "Magnum have huge list of dependencies, many have dubious utility."
Currently magnum installs over 150 pacakages along with it:
 [pdm list --graph](https://gist.github.com/Fak3/419769a9fb05ec98a46db4d5a9a21dae)

I wish there was a slimmer version, that only installs core depndencies. Currently some deps like yappi and netifaces does not provide binary wheels, which makes magnum installation fail in case of missing python headers:

<details>
<pre>
Preparing isolate

[2022-06-25 05:40] jordaneremieff commented on #264
Can you confirm where in Mangum these dependencies are coming from? The only dependency specified in `setup.py` is `typing_extensions` other than that the `requirements.txt` file in the repo contains only dev dependencies not included in the installation package.

[2022-06-25 07:31] Fak3 commented on #264
Oops, my bad. I got confused maGNum with maNGum. Maybe you add a note in the readme installation section? Its easy to mistype or misread these two

[2022-06-25 07:31] #264 closed

[2022-06-28 13:01] Fak3 opened #265 "RuntimeError: adapter was unable to infer a handler"
docker-compose.yml:
[code]

itc_api.py:
[code]

When i start the docker-compose and then send POST request: `curl -XPOST "http://localhost:8000/2015-03-31/functions/function/invocations" -d '{}'`

i get an error:
sust-fastapi    | 28 Jun 2022 12:51:13,907 [INFO] (rapid) extensionsDisabledByLayer(/opt/disable-extensions-jwigqn8j) -> stat /opt/disable-extensions-jwigqn8j: no such file or directory
s

[2022-07-07 18:36] jordaneremieff commented on #265
This is expected.

The error you're encountering will occur when invocation payload does not contain the necessary information to handle the request. See https://github.com/jordaneremieff/mangum/discussions/218 and related discussions for more information.

[2022-07-07 18:36] #265 closed

[2022-07-07 18:38] jordaneremieff commented on #177
This feature is now added. Not considered provisional at this point.

[2022-07-07 18:38] #177 closed

[2022-07-07 18:40] jordaneremieff commented on #176
I think https://github.com/jordaneremieff/mangum/issues/177 should cover this.

[2022-07-07 18:40] #176 closed

[2022-07-07 22:13] ApurvaMisra opened #266 "Using serverless warmup plugin with mangum"
What would be the best way for Mangum to respond based on the event source? I want to modify the event handler, such that it responds without doing any processing if the event is from the below source
{
  "Event": {
    "source": "serverless-plugin-warmup"
  }
}

The aim is to reduce the time the lambda is occupied for when invoked by the warmer lambda.
Here is the link for the plugin: https://www

[2022-07-08 01:22] jordaneremieff commented on #266
Hi @ApurvaMisra, this can be accomplished by using a function that returns the handler instance as demonstrated [here](https://mangum.io/adapter/#creating-an-aws-lambda-handler).

See also [this](https://github.com/jordaneremieff/mangum/issues/91#issuecomment-599014240) comment for a similar use-case that may help clarify things further.

[2022-07-08 01:22] #266 closed

[2022-07-27 03:20] satheler opened #267 "Websocket support"
Do you have any implementation plans to add Websocket to this solution?

[2022-07-27 03:21] #267 closed

[2022-07-31 19:08] ironyee opened #269 "app_queue in Lifespan"
Hello.
I'd like to know about app_queue.
Do you have any plans to supplement the Lifespan documentation further?
I would be very pleased if you do that.

Thank you.

[2022-08-04 12:21] khamaileon opened #270 "Custom text mime types"
There is no longer the possibility to configure which type of content should not be base64 encoded. I need to ignore the "application/vnd.oai.openapi" format which is used by redoc. Also the doc is not up to date as it is stated that it is still possible to pass TEXT_MIME_TYPES.

[2022-08-06 09:23] khamaileon commented on #270
I'm willing to do an PR. @jordaneremieff What's the solution for you? Simply add the missing mime type or resume TEXT_MIME_TYPES?

[2022-08-07 07:08] jordaneremieff commented on #270
Thanks @khamaileon. Do you know why this might not have come up previously?

My preference is to have it added to the default text mime types unless there is some other use-case that would be relying on the existing behavior.

[2022-08-07 09:40] khamaileon commented on #270
I honestly don't know. Maybe it's too specific. Maybe people have had the problem but not identified it. Maybe they are using mangun for something else than a REST API.
Personally I already had the problem with WSGI. I was using apig_wsgi and there was a parameter for it.

Here is the PR: https://github.com/jordaneremieff/mangum/pull/271

[2022-08-07 13:18] jordaneremieff commented on #270
Released in 0.15.1. Thanks.

[2022-08-07 13:18] #270 closed

[2022-09-04 11:57] 94929 opened #272 "Unable to infer a hanlder when using mangum"
Hi, I'm using mangum for serving lambda image and I get the following error:
[code]
Did anyone face the same issue? Any help would be appreciated.

[2022-09-25 22:06] georgebv opened #275 "Allow providing extra DEFAULT_TEXT_MIME_TYPES"
**Issue**: I want to serve binary files as is (not base64 encoded)
**Cause**: everything not in `DEFAULT_TEXT_MIME_TYPES` is base64 encoded by default
**Proposed solution**: allow providing additional mime types; suggested options:
  - when declaring the handler `Mangum(app, extra_text_mime_types=["image/png"])`
  - after declaring the handler `handler.add_text_mime_types(["image/png"])`

This is

[2022-09-26 11:56] jordaneremieff commented on #275
Hi @georgebv, this is similar to a recent issue report in https://github.com/jordaneremieff/mangum/issues/270.

One of the solutions proposed was to re-introduce the `text_mime_types` configuration, if you are able to put forward a PR to do this, then I will review and merge.

[2022-09-26 12:17] georgebv commented on #275
@jordaneremieff sounds good, I'll link it here once I get to it (~this week). Also, FYI, I am using mangum to deploy a full-blown web app on FastAPI to aws lambda.

[2022-10-10 22:11] khamaileon commented on #262
Duplicate of: https://github.com/jordaneremieff/mangum/issues/143

[2022-10-16 12:36] #275 closed

[2022-10-26 11:21] jordaneremieff commented on #275
Released in [0.16.0](https://github.com/jordaneremieff/mangum/releases/tag/0.16.0).

[2022-11-03 11:04] aminalaee commented on #104
Adding a blog post (my own to the docs): https://aminalaee.dev/posts/2022/fastapi-aws-lambda/
Any feedback would be appreciated.

[2022-11-22 10:32] fjpa121197 opened #281 "[QUESTION] - Using serverless framework and test application locally"
Is it possible to use serverless framework local invoke feature to test application locally?

I have the following `serverless.yml` file:

[code]

For example, by using `serverless invoke local --function queryData` I want to test the application, and the endpoints, but not sure how to pass the url path I want to test?

My app.py file looks like this:

[code]

thanks

[2022-11-24 09:44] #202 closed